<app-main-menu></app-main-menu>
<div class="container-fluid">
    <div>
    <!-- </div>
    <div class="search-section" style="padding: 20px;">
    <div class="heading2">Find a Tutor. Get a Demo Session Now.</div>
    <div style="padding: 30px 0px;">
        <div class="col-md-10 offset-md-1">
            <form role="form" class="search-form"  action="javascript:void(0);">
                <div class="row">
                    <div class="col-md-4" style="padding:10px 0px;">
                        <input type="text" placeholder="Enter Your Area Pin code(Zip)"  name="zipCode" class="form-control" id="zipCode">
                    </div>
                    <div class="col-md-6" style="padding: 10px 0px;">
                        <select class="form-control selectpicker" data-size="5" id="chooseClass" name="chooseClass">
                                    
                        </select>
                    </div>
                    <div class="col-md-2" style="padding: 10px 0px;">
                        <button style="width: 100%;" type="button" id="find" class="btn btn-login">Find Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div> -->

    <!-- <section class="position-relative" style="background-image: url(/assets/11.svg); background-repeat: no-repeat; background-size: 100%; top: -115px; z-index: 7;background-position-y: -100px;">
        <div class="container-fluid" style="padding-top: 100px;">
            <div class="d-none d-md-block">
                <div class="row">
                    <div class="col-md-4 col-sm-4 p-5 d-flex justify-content-center">
                        <div class="d-flex justify-content-center align-items-center blob">
                            <div class="blob-text"><a href="/studentRegistration" class="link-white">Post your<br>learning need<br>It's Free</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 p-5 d-flex justify-content-center">
                        <div class="d-flex justify-content-center align-items-center blob">
                            <div class="blob-text"><a href="/tutorRegistration" class="link-white">Join as a<br>teacher / trainer<br>It's Free</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 p-5 d-flex justify-content-center">
                        <div class="d-flex justify-content-center align-items-center blob">
                            <div class="blob-text"><a href="/contactus" class="link-white">Request a<br>Call Back</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="slider">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators" style="z-index: 7;">
              <li data-target="#demo" data-slide-to="0" class="active" style="background-color: #000;"></li>
              <li data-target="#demo" data-slide-to="1" style="background-color: #000;"></li>
              <li data-target="#demo" data-slide-to="2" style="background-color: #000;"></li>
            </ul>
          
            <!-- The slideshow -->
            <div class="carousel-inner" style="z-index: 6;">
              <div class="carousel-item active">
                <img class="slider-img" src="assets/slide1.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img class="slider-img" src="assets/slide1.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img class="slider-img" src="assets/slide1.jpg" alt="">
              </div>
            </div>
          
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev" style="z-index: 6;">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next" style="z-index: 6;">
              <span class="carousel-control-next-icon"></span>
            </a>
          
          </div>
    </section>

    <!-- <section class="usp-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-6 d-flex justify-content-center align-items-center my-1">
                    <div class="usp-box d-flex justify-content-center align-items-center">
                        <div class="usp-text">
                            <a href="#" class="link-white stretched-link">about<br>hansa<br>tutor</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 d-flex justify-content-center align-items-center my-1">
                    <div class="usp-box d-flex justify-content-center align-items-center">
                        <div class="usp-text">
                            <a href="#" class="link-white stretched-link">why<br>hansa<br>tutor</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 d-flex justify-content-center align-items-center my-1">
                    <div class="usp-box d-flex justify-content-center align-items-center">
                        <div class="usp-text">
                            <a href="#" class="link-white stretched-link">how it<br>works for<br>students</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 d-flex justify-content-center align-items-center my-1">
                    <div class="usp-box d-flex justify-content-center align-items-center">
                        <div class="usp-text">
                            <a href="#" class="link-white stretched-link">find<br>nearer<br>teacher</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 d-flex justify-content-center align-items-center my-1">
                    <div class="usp-box d-flex justify-content-center align-items-center">
                        <div class="usp-text">
                            <a href="#" class="link-white stretched-link">search<br>tutoring<br>job</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 d-flex justify-content-center align-items-center my-1">
                    <div class="usp-box d-flex justify-content-center align-items-center">
                        <div class="usp-text">
                            <a href="#" class="link-white stretched-link">how it<br>works for<br>teachers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section >
        <div class="container">
            <div class="row">
                <div style="margin: 10px 0px;" class="text-center col-md-6 col-xs-12 justify-content-center align-items-center ">
                    <a href="/studentRegistration">
                        <div class="join-badge">
                            <div style="font-size: 16px;">Post Your </div>
                            <div>Learning Need</div>
                        </div><br>
                    </a>
                </div>
                <div style="margin: 10px 0px;" class="text-center col-md-6 col-xs-12 justify-content-center align-items-center ">
                    <a href="/tutorRegistration">
                        <div class="join-badge" style="background: #036b03;">
                            <div style="font-size: 16px;">Join As </div>
                            <div>Teacher/ Trainer</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section> -->
    <section style="padding: 20px 0px;background: #dcdcdc;">
            <div class="overlay">
                <div class="mainDiv row">
                    <div class="col border-right-large">
                    <div class="button-header">Are You Learner?</div>
                    <a href="/login">
                        <button class="btn btn-main" id="video-button">Post Your Learning Need</button>
                    </a>
                    <br><br>
                    </div>
                    <div class="col">
                        <div class="button-header">Are You Educator?</div>
                        <a href="/login">
                        <button class="btn btn-main" id="presentation-button">Join As Educator</button>
                        </a>
                        <br><br>
                    </div>
                </div>
            </div>
    </section>
   <br><br>
    <!-- <section>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h2 class="text-center">Search Your Own Means of Learning</h2>
                </div>
            </div>
            <br>
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-8 d-flex justify-content-center">
                            <div class="card p-3" style="width: 80%; border: none;">
                                <img class="card-img-top" src="assets/image1.png" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <h6 class="card-title text-center"><a href="#" class="link-black stretched-link">Teachers / Trainers<br>Near Me</a></h6>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-4 col-sm-8 d-flex justify-content-center">
                            <div class="card p-3" style="width: 80%; border: none;">
                                <img class="card-img-top" src="assets/image3.png" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <h6 class="card-title text-center"><a href="#" class="link-black stretched-link">Online<br>Teachers / Trainers</a></h6>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-4 col-sm-8 d-flex justify-content-center">
                            <div class="card p-3" style="width: 80%; border: none;">
                                <img class="card-img-top" src="assets/image2.png" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <h6 class="card-title text-center"><a href="#" class="link-black stretched-link">Tuition Centers<br>Near Me</a></h6>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section>
        <div class="container">
                <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            <h2 class="text-center">We Deals In All Mean of Learning</h2>
                        </div>
                </div>
                <br>
                <div style="position: relative;">
                <div class="scrollable" style="display:flex;width:100%;overflow: auto;">
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                            <a href="/login">
                                <div class="service-box">
                                    <div class="services-box">
                                        <div class="service-box-inner">
                                            Personal Tutors<br>Private Teachers<br>Home Trainers
                                        </div>
                                    </div>
                                </div>
                            </a>
                    </div>
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                            <a href="/login">
                                <div class="service-box">
                                    <div class="services-box">
                                        <div class="service-box-inner">
                                            Tution Centers<br>Coaching Centers<br>Group Classes
                                        </div>
                                    </div>
                                </div>
                            </a>
                    </div>
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                        <a href="/login">
                            <div class="service-box">
                                <div class="services-box">
                                     <div class="service-box-inner">
                                         Online<br>Teachers<br>Trainers
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="right-left leftArrow" style="left:0%"> <i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <div class="right-left rightArrow" style="right: -30px;"> <i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </div>
            </div>
    </section>
    <br><br>
    <!-- <section class="position-relative sm-background" style="background-image: url(assets/11.svg); background-repeat: no-repeat; background-size: 100%; z-index: 6;">
        <div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px;">
            <div class="row">
                <div class="col-md-4 col-sm-12 p-2 d-flex justify-content-center">
                    <div class="d-flex justify-content-center align-items-center blob">
                        <div class="blob-text"><a href="/studentRegistration" class="link-white">Hey! Looking<br>Personal Tuition Teacher?<br>Hire Now</a></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 p-2 d-flex justify-content-center">
                    <div class="d-flex justify-content-center align-items-center blob">
                        <div class="blob-text"><a href="/studentRegistration" class="link-white">Hey! Looking<br>Home Tutor<br>Book Now</a></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 p-2 d-flex justify-content-center">
                    <div class="d-flex justify-content-center align-items-center blob">
                        <div class="blob-text"><a href="/studentRegistration" class="link-white">Hey! Looking<br>Tuition Center<br>Get Now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- 
    <section >
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h2 class="text-center">Top Class, Course, Exam</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4 col-sm-8">
                            <ul class="course-list">
                                <li><a href="#" class="link-black">Class XI to Class XII <br>+ NEET / IIT-JEE</a></li>
                                <li><a href="#" class="link-black">Class XI to Class XII</a></li>
                                <li><a href="#" class="link-black">Class IX to Class X<br>+ Foundation</a></li>
                                <li><a href="#" class="link-black">Class IX to Class X</a></li>
                                <li><a href="#" class="link-black">Class VI to Class VIII</a></li>
                                <li><a href="#" class="link-black">Class III to Class V</a></li>
                                <li><a href="#" class="link-black">Class Prep to Class II</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-8">
                            <ul class="course-list">
                                <li><a href="#" class="link-black">Exclusive Engg / Med</a></li>
                                <li><a href="#" class="link-black">AIIMS / NEET / IIT-JEE</a></li>
                                <li><a href="#" class="link-black">Competitive Exam<br>(Bank, SSC, Railway, etc)</a></li>
                                <li><a href="#" class="link-black">Foreign Language<br>German, Spanish, French, etc</a></li>
                                <li><a href="#" class="link-black">Master<br>MA, M.Com, M.Sc., MBA, MCA</a></li>
                                <li><a href="#" class="link-black">Regional Language<br>Hindi, English, Sanskrit, Urdu</a></li>
                                <li><a href="#" class="link-black">Under Graduation<br>BA, B.Com, B.Sc, BBA, BCA</a></li>
                                <li><a href="#" class="link-black">Entrance Exams<br>(NDA, NTSE, CAT, MAT, SAT, etc)</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-8">
                            <ul class="course-list">
                                <li><a href="#" class="link-black">Hobby Courses</a></li>
                                <li><a href="#" class="link-black">English Speaking</a></li>
                                <li><a href="#" class="link-black">Yoga</a></li>
                                <li><a href="#" class="link-black">Dance</a></li>
                                <li><a href="#" class="link-black">Music</a></li>
                                <li><a href="#" class="link-black">Painting</a></li>
                                <li><a href="#" class="link-black">Language Spoken<br>Read, Write, Speak</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section style="background: #e4e4e4;padding: 30px 0px;">
        <div class="container">
                <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            <h2 class="text-center">Top Class, Course, Exam</h2>
                        </div>
                </div>
                <br>
                <div style="position: relative;">
                <div class="scrollable" style="position: relative;display:flex;overflow:scroll">
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                            <a href="/login">
                                <div class="service-box">
                                    <div class="class-box">
                                        <div class="service-box-inner">
                                            Class Prep to Class II<br>Class III to Class V<br>Class VI to Class VIII<br>Class IX to Class X<br>Class XI to Class XII
                                        </div>
                                    </div>
                                </div>
                            </a>
                    </div>
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                            <a href="/login">
                                <div class="service-box">
                                    <div class="class-box">
                                        <div class="service-box-inner">
                                            AIIMS <br>NEET<br>IIT-JEE<br>Foundation<br>NDA, NTSE, CAT,<br>MAT, SAT,
                                        </div>
                                    </div>
                                </div>
                            </a>
                    </div>
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                        <a href="/login">
                            <div class="service-box">
                                <div class="class-box">
                                     <div class="service-box-inner">
                                        German<br>Spanish<br>French<br>etc
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                        <a href="/login">
                            <div class="service-box">
                                <div class="class-box">
                                     <div class="service-box-inner">
                                        Bank<br>SSC<br>Railway<br>etc
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                        <a href="/login">
                            <div class="service-box">
                                <div class="class-box">
                                     <div class="service-box-inner">
                                        Hindi<br>English<br>>Sanskrit<br>Urdu
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                        <a href="/login">
                            <div class="service-box">
                                <div class="class-box">
                                     <div class="service-box-inner">
                                        BA, B.Com<br>>B.Sc<br>BBA, BCA<br>etc
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                        <a href="/login">
                            <div class="service-box">
                                <div class="class-box">
                                     <div class="service-box-inner">
                                        MA, M.Com<br> M.Sc.<br>MBA, MCA<br>etc
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                        <a href="/login">
                            <div class="service-box">
                                <div class="class-box">
                                     <div class="service-box-inner">
                                        English Speaking<br>Music,Dance<br>Painting<br>Language Spoken<br>Read, Write, Speak
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="right-left leftArrow" style="left:0%"> <i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <div class="right-left rightArrow" style="right: -30px;"> <i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </div>
            </div>
    </section>

    <!-- <section class="position-relative sm-background" style="background-image: url(assets/11.svg); background-repeat: no-repeat; background-size: 100%; z-index: 6;">
        <div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px;">
            <div class="row">
                <div class="col-md-4 col-sm-12 p-2 d-flex justify-content-center">
                    <div class="d-flex justify-content-center align-items-center blob">
                        <div class="blob-text"><a href="/tutorRegistration" class="link-white">Join as<br>Home Tutor<br>Personal Teacher</a></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 p-2 d-flex justify-content-center">
                    <div class="d-flex justify-content-center align-items-center blob">
                        <div class="blob-text"><a href="/tutorRegistration" class="link-white">Join as<br>Online Tutor</a></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 p-2 d-flex justify-content-center">
                    <div class="d-flex justify-content-center align-items-center blob">
                        <div class="blob-text"><a href="/tutorRegistration" class="link-white">Register Your<br>Tuition Centre<br>Group Tuition Centre</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <br><br>
    <section>
            <div class="container">
                <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            <h2 class="text-center">Top Subjects</h2>
                        </div>
                </div>
                <br>
                <div style="position: relative;">
                <div class="scrollable" style="display:flex;width:100%;overflow: auto;">
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                            <a href="/login">
                                <div class="service-box">
                                    <div class="class-box">
                                        <div class="service-box-inner">
                                            Maths<br>Science<br>Biology<br>Chemistry<br>Physics<br>Computer Science
                                        </div>
                                    </div>
                                </div>
                            </a>
                    </div>
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                            <a href="/login">
                                <div class="service-box">
                                    <div class="class-box">
                                        <div class="service-box-inner">
                                            Accounts<br>Business Studies<br>Economics<br>Political Science<br>Geography<br>History
                                        </div>
                                    </div>
                                </div>
                            </a>
                    </div>
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                        <a href="/login">
                            <div class="service-box">
                                <div class="class-box">
                                     <div class="service-box-inner">
                                        French<br>German<br>Italian<br>Japanese<br>Russian<br>Spanish
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                        <a href="/login">
                            <div class="service-box">
                                <div class="class-box">
                                     <div class="service-box-inner">
                                        English<br>Hindi<br>Sanskrit<br>Gujarati<br>Punjabi<br>Urdu
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                        <a href="/login">
                            <div class="service-box">
                                <div class="class-box">
                                     <div class="service-box-inner">
                                        Quantitative Aptitude<br>Reasoning<br>Yoga Training<br>Dance<br>Music<br>Drawing / Painting
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="right-left leftArrow" style="left:0%"> <i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <div class="right-left rightArrow" style="right: -30px;"> <i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </div>
            </div>
    </section>
    <br><br>
    <section style="background: #e4e4e4;padding: 30px 0px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                    <div class="col-md-12">
                        <h2 class="text-center">Top Cities</h2>
                    </div>
            </div>
            <br>
            <div style="position: relative;">
            <div class="scrollable" style="display:flex;width:100%;overflow: auto;">
                <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                        <a href="/login">
                            <div class="service-box">
                                <div class="class-box">
                                    <div class="service-box-inner">
                                        Ahmedabad<br>Bangalore<br>Bhopal<br>Bhubneshwar<br>Chandigarh<br>Chennai
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>
                <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                        <a href="/login">
                            <div class="service-box">
                                <div class="class-box">
                                    <div class="service-box-inner">
                                        Coimbatore<br>Delhi<br>Durgapur<br>Faridabad<br>Ghaziabad<br>Gurugram
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>
                <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                    <a href="/login">
                        <div class="service-box">
                            <div class="class-box">
                                 <div class="service-box-inner">
                                    Guwahati<br>Howrah<br>Hyderabad<br>Indore<br>Jaipur<br>Kanpur
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                    <a href="/login">
                        <div class="service-box">
                            <div class="class-box">
                                 <div class="service-box-inner">
                                    Kochi<br>Kolkata<br>Lucknow<br>Mumbai<br>Nagpur<br>Navi Mumbai
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="text-center" style="flex: 1 100%;border: 1px solid gray;">
                    <a href="/login">
                        <div class="service-box">
                            <div class="class-box">
                                 <div class="service-box-inner">
                                    Noida<br>Patna<br>Pune<br>Vadodara<br>Vijayawada<br>Visakhapatnam
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="right-left leftArrow" style="left:0%"> <i class="fa fa-angle-left" aria-hidden="true"></i></div>
            <div class="right-left rightArrow" style="right: -30px;"> <i class="fa fa-angle-right" aria-hidden="true"></i></div>
            </div>
        </div>
    </section>

    <!-- <section class="position-relative sm-background" style="background-image: url(assets/11.svg); background-repeat: no-repeat; background-size: 100%; z-index: 6;">
        <div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px;">
            <div class="row">
                <div class="col-md-4 col-sm-12 p-2 d-flex justify-content-center">
                    <div class="d-flex justify-content-center align-items-center blob">
                        <div class="blob-text"><a href="/contactus" class="link-white">Register Your<br>Complaint / Suggestion</a></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 p-2 d-flex justify-content-center">
                    <div class="d-flex justify-content-center align-items-center blob">
                        <div class="blob-text"><a href="#" class="link-white">Write a Review</a></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 p-2 d-flex justify-content-center">
                    <div class="d-flex justify-content-center align-items-center blob">
                        <div class="blob-text"><a href="/contactus" class="link-white">Contact Us</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <br><br>
    <footer style="background:#1c2960">
        <div class="container">
            <!-- <div class="row d-flex justify-content-center pt-md-4">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="course-list2">
                                <li><a href="#" class="link-black">About Hansa Tutor</a></li>
                                <li><a href="#" class="link-black">Why Hansa Tutor</a></li>
                                <li><a href="#" class="link-black">Find Nearer Teacher</a></li>
                                <li><a href="#" class="link-black">Search Tutor Job</a></li>
                                <li><a href="#" class="link-black">Customer Reviews</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="course-list2">
                                <li><a href="/studentRegistration" class="link-black">Post your learning need</a></li>
                                <li><a href="/tutorRegistration" class="link-black">Join as a Teacher / Trainer</a></li>
                                <li><a href="#" class="link-black">Careers at Hansa Tutor</a></li>
                                <li><a href="#" class="link-black">Read Our Blog</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="course-list2">
                                <li><a href="#" class="link-black">How it works for teachers</a></li>
                                <li><a href="#" class="link-black">How it works for students</a></li>
                                <li><a href="#" class="link-black">Help Centre</a></li>
                                <li><a href="#" class="link-black">FAQ</a></li>
                                <li><a href="#" class="link-black">Terms of use</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="course-list2">
                                <li><a href="/contactus" class="link-black">Request a Callback</a></li>
                                <li>Email: <a href="#" class="link-black">info@hansatutor.com</a></li>
                                <li><i class="fa fa-whatsapp"></i> +91-9876543210</li>
                                <li>Help Centre: <a href="#" class="link-black">011-4123456</a></li>
                                <li></li>
                                <li><a href="#" class="link-black"><i class="fa fa-facebook-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="container" style="padding: 8px">
                <div style="display: inline-block;" class="text-white">
                    &copy; Hansa Tutor
                </div>
                <div style="display: inline-block;float: right;">
                    <a href="#" class="link-white">Cookies & Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>
    </div>
</div>