<div class="container-fluid">
    <div class="requirement-section"  style="margin-top:50px">
    <div class="overlay">
        <div class="mainDiv row">
            <div class="col" style="border-right: 1px solid black;">
            <div class="button-header">I am a student.</div>
            <a href="/studentRegistration">
                <button class="btn btn-main" id="video-button">Post Your Requirement</button>
            </a>
            <br><br>
            </div>
            <div class="col">
                <div class="button-header">I am a teacher.</div>
                <a href="/tutorRegistration">
                <button class="btn btn-main" id="presentation-button">Become A Tutor</button>
                </a>
                <br><br>
            </div>
        </div>
    </div>
    </div>
    <div class="search-section" style="padding: 20px;">
    <div class="heading2">Find a Tutor. Get a Demo Session Now.</div>
    <div style="padding: 30px 0px;">
        <div class="col-md-10 offset-1">
            <form role="form" class="search-form"  action="javascript:void(0);">
                <div class="row">
                    <div class="col-md-4" style="padding:10px 0px;">
                        <input type="text" placeholder="Enter Your Area Pin code(Zip)"  name="zipCode" class="form-control" id="zipCode">
                    </div>
                    <div class="col-md-6" style="padding: 10px 0px;">
                        <select class="form-control selectpicker" data-size="5" id="chooseClass" name="chooseClass">
                                    
                        </select>
                    </div>
                    <div class="col-md-2" style="padding: 10px 0px;">
                        <button style="width: 100%;" type="button" id="find" class="btn btn-login">Find Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>