h2{
  font-family: 'Oswald', sans-serif;
  color: #403f3f;
}
.mainDiv {
    position: absolute;
    width: 80%;
    transform: translate(-50% ,-50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    text-align: center;
}
.border-right-large{
  border-right: 1px solid #0d2151;
}
.requirement-section{
    background-image: url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    min-height: 30vh;
    position: relative;
}
.search-section{
    margin-top: 30px;
}
.button-header {
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    color: #0d2151;
}
.btn-main {
    color: #fff;
    background-color: #0d2151;
    border-color: #0d2151;
    border-radius: 30px;
    width: 260px;
}
.btn-social{
    color: #fff;
    background-color: #45619d;
    border-color: #0d2151;
    border-radius: 30px;
    width: 150px;
}
.btn-main:hover,.btn-main:active,.btn-main:focus {
    background-color: #4b5775;
}
.search-form button,.search-form input{
    height: 45px !important;
    line-height: 45px !important;
    border-radius:0px; 
}

.width-100 {
    width: 100%;
  }
  
  .position-relative {
    position: relative;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-white {
    color: #fff;
  }
  
  .blob-text {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  
  .blob {
    width: 300px;
    height: 300px;
    background-image: url('/assets/22.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
  }
  
  .slider-img {
    width: 100%;
    max-height: 350px;
  }
  
  .slider {
    position: relative;
  }
  .join-badge {
    background: #0d2151;
    border-radius: 50%;
    padding: 50px;
    font-size: 36px;
    color: yellow;
    margin: 0px 20px;
    box-shadow: 0px 6px 6px 0px;
  }
  .join-badge:hover {
    box-shadow: 0px 3px 3px 4px grey;
  }
  .scrollable::-webkit-scrollbar { width: 0 !important }
  .scrollable { overflow: -moz-scrollbars-none; }
  .scrollable { -ms-overflow-style: none; }
  .right-left {
    background: #5596da;
    padding: 30px 10px;
    color: white;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
  }
  .service-box {
    height: 200px;
    margin: 8px;
    background: #1c2960;
    color: white;
    min-width: 220px;
    font-size: 20px;
    line-height: 35px;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 5px 5px 5px 0px #8087a0;
    border-radius: 20px 0px 20px;
  }
 .service-box-inner{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 100%;
  }
  .class-box {
    height: 200px;
    margin: 8px;
    color: white;
    min-width: 220px;
    font-size: 18px;
    line-height: 30px;
    position: relative;
  }
  .usp-section {
    position: relative;
    z-index: 6;
    background-image: url('/assets/usp-back.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    padding-top: 100px;
  }
  
  .usp-box {
    width: 150px;
    height: 150px;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#0d2151), to(#57ddf8));
    background-image: linear-gradient(to top right, #0d2151, #57ddf8);
    border-radius: 8px;
  }
  
  .usp-text {
    text-transform: uppercase;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .course-list {
    list-style-type: none;
    padding: 15px 5px;
  }
  
  .course-list li {
    margin: 25px 0px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
  }
  
  .course-list2 {
    list-style-type: none;
    padding: 15px 5px;
  }
  
  .course-list2 li {
    margin: 25px 0px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
  }
  
  .show-me {
    display: none;
  }
  
  @media screen and (max-width: 480px) {
    .join-badge {
      border-radius: 50%;
      padding: 20px;
      font-size: 20px;
      margin: 0px 5px
    }
    .border-right-large{
      border-right: none;
    }
    .usp-section {
      background: none;
      top: -100px;
    }
    .col-sm-6 {
      width: 50% !important;
    }
    .sm-background {
      background-size: cover !important;
      background-position: center center;
    }
    .usp-section {
      margin-bottom: 0px !important;
    }
    .hide-me {
      display: none;
    }
    .show-me {
      display: block;
    }
  }
  
  .link-white {
    color: #fff;
    text-decoration: none;
  }
  
  .link-white:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .link-black {
    color: #000;
    text-decoration: none;
  }
  
  .link-black:hover {
    color: #000;
    text-decoration: none;
  }