<!-- <nav class="navbar navbar-expand fixed-top bg-light">
  <a class="navbar-brand" href="#">Hannsaa</a>
  <ul class="navbar-nav ml-auto before-login-menu">
    <li class="nav-item">
      <a class="nav-link" href="/login"> 
          <i class="fa fa-user-circle-o" aria-hidden="true"></i> Login
      </a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto  after-login-menu">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <span id="userName">User</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="" id="viewProfile"><i class="fa fa-user" aria-hidden="true"></i> Dashboard</a>
          <a class="dropdown-item" href="" id="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </div>
      </li>
  </ul>

</nav> -->
<nav class="navbar bg-blue navbar-dark fixed-top" style="padding: 15px; z-index: 8;">
    <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" id="openSideNav" class="nav-link nav-btn" href="javascript:void(0)">&#9776;</a>
    <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor">
    </a>
  <div>
      <ul class="navbar-nav before-login-menu" style="display: inline-block;" hidden>
          <li class="nav-item" style="display: inline-block;">
              <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" class="nav-link nav-btn" href="/login">Sign In</a>
          </li>
          <!-- <li class="nav-item" style="display: inline-block;">
              <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" class="nav-link nav-btn" href="#">Menu</a>
          </li> -->
      </ul>
      <ul class="navbar-nav after-login-menu" style="display: inline-block;" hidden>
        <li class="nav-item" style="display: inline-block;">
            <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" id="logout" class="nav-link nav-btn" href="">Sign Out</a>
        </li>
    </ul>
</div>  
</nav> 

