<footer class="navbar navbar-fixed-bottom">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Why Us</h3>
        <p><strong><a href="http://www.hansatutor.com">hansatutor.com</a></strong> It is absolutely Free for Learners.
          Post your learning Requirements, Book Demo Class, and Hire trusted, tested & verified professional home
          tuition tutor online teacher trainers coaching institute for all your learning needs. You can also search,
          find faculties for your school, college, coaching institute, tuition center
          <a class="text-underline" href="why-us">Read more</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>About Us</h3>
        <p><strong><a href="http://www.hansatutor.com">hansatutor.com</a></strong> is worlds's
          biggest network of most trusted tutors and students. Over 25 lakh students rely on
          hansatutor.com, to fulfill their learning requirements across 2,000+ categories.
          Using hansatutor.com, tutors, and students can compare multiple Tutors and Institutes and
          choose the one that best suits their requirements.
          <a class="text-underline" href="about-us">Read more</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="icon">
          <a href="https://www.facebook.com/w3hubs.com2018/" target="_blank"><i
              class="fa fa-facebook-square social-icon"></i></a>
          <a href="https://tr.pinterest.com/w3hubs/" target="_blank"><i class="fa fa-pinterest social-icon"></i></a>
          <a href="https://www.reddit.com/user/w3hubs18" target="_blank"><i class="fa fa-reddit social-icon"></i></a>
          <a href="https://twitter.com/w3hubs" target="_blank"><i class="fa fa-twitter social-icon"></i></a>
        </div>

      </div>
    </div>

  </div>

</footer>

<footer style="background:#1c2960">
  <div class="container">
    <!-- <div class="row d-flex justify-content-center pt-md-4">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-md-3">
                      <ul class="course-list2">
                          <li><a href="#" class="link-black">About Hansa Tutor</a></li>
                          <li><a href="#" class="link-black">Why Hansa Tutor</a></li>
                          <li><a href="#" class="link-black">Find Nearer Teacher</a></li>
                          <li><a href="#" class="link-black">Search Tutor Job</a></li>
                          <li><a href="#" class="link-black">Customer Reviews</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3">
                      <ul class="course-list2">
                          <li><a href="/post" class="link-black">Post your learning need</a></li>
                          <li><a href="/edureg" class="link-black">Join as a Teacher / Trainer</a></li>
                          <li><a href="#" class="link-black">Careers at Hansa Tutor</a></li>
                          <li><a href="#" class="link-black">Read Our Blog</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3">
                      <ul class="course-list2">
                          <li><a href="#" class="link-black">How it works for teachers</a></li>
                          <li><a href="#" class="link-black">How it works for students</a></li>
                          <li><a href="#" class="link-black">Help Centre</a></li>
                          <li><a href="#" class="link-black">FAQ</a></li>
                          <li><a href="#" class="link-black">Terms of use</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3">
                      <ul class="course-list2">
                          <li><a href="/contactus" class="link-black">Request a Callback</a></li>
                          <li>Email: <a href="#" class="link-black">info@hansatutor.com</a></li>
                          <li><i class="fa fa-whatsapp"></i> +91-9876543210</li>
                          <li>Help Centre: <a href="#" class="link-black">011-4123456</a></li>
                          <li></li>
                          <li><a href="#" class="link-black"><i class="fa fa-facebook-square"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div> -->
    <div class="container" style="padding: 8px">
      <div style="display: inline-block;" class="text-white">
        &copy; Hansa Tutor
      </div>
      <div style="float: right;">
        <a rel="nofollow"
          title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor"
          href="/privacy-policy" class="link-white">Cookies & Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
<p class="main-heading" *ngIf="pageTitle">
  Home Tutor, Online Trainer, Institutes, and Faculties. Our online tutoring platform makes connecting with
  students
  simple, convenient, and flexible. Find online tutoring opportunities. Apply now and earn extra money working
  part-time from home.
  Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes.
</p>