<footer class="navbar navbar-fixed-bottom">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3><span class="main-bg">Why Us</span></h3>
        <p><strong><a href="http://www.hansatutor.com">hansatutor.com</a></strong> It is absolutely Free for Learners.
          Post your learning Requirements, Book Demo Class, and Hire trusted, tested & verified professional home
          tuition tutor online teacher...
          <a class="text-underline" href="why-us">Read more</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3><span class="main-bg">About Us</span></h3>
        <p><strong><a href="http://www.hansatutor.com">hansatutor.com</a></strong> is an online automated platform
          to connect Educators and Learners throughout the country for all their learning need...
          <a class="text-underline" href="about-us">Read more</a></p>
      </div>
    </div>

    <div class="parent">
      <div class="child">
        <div class="icon">
          <a href="https://www.facebook.com/hansatutor/" target="_blank">
            <img src="assets/facebook.svg" alt="Share on facebook" class="social-icon">
          </a>
          <a href="https://wa.me/919555222377" target="_blank">
            <img src="assets/whatsapp.svg" alt="Share on WhatsApp" class="social-icon">
          </a>
          <a *ngIf="isMobile" href="tel:9555222377" target="_blank">
            <img src="assets/call-start.svg" alt="Share on WhatsApp" class="social-icon call-icon">
          </a>
          <div class="popup" *ngIf="!isMobile" (click)="myFunction()">
            <img src="assets/call-start.svg" alt="call" class="social-icon call-icon">
            <span class="popuptext" id="myPopup">+91 9555222377</span>
          </div>
          <a href="https://www.youtube.com/user/MYTA377" target="_blank">
            <img src="assets/youtube.svg" alt="call" class="social-icon">
          </a>
          <a href="http://hansatutor.com/contactus" target="_self">
            <img src="assets/contact.svg" alt="call" class="social-icon">
          </a>
        </div>

      </div>
    </div>

  </div>

</footer>
