<app-menu></app-menu>
<div style="padding: 20px 0px;">
  <div id="accordion" class="accordion">
    <div class="card mb-0" *ngFor="let faq of faqs">
        <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" class="card-header collapsed" data-toggle="collapse" href="#collapse{{faq.id}}">
            <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" class="card-title">
              {{faq.question}}
            </a>
          </a>
        <div id="collapse{{faq.id}}" class="card-body collapse" data-parent="#accordion" >
            {{faq.answer}}
        </div>
    </div>
 </div>
</div>
<div><a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="/askQuestion" style="padding-left: 20px;font-size: 20px;color: #ff6b00;"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Did not find your query? Ask here!!</a></div>
<br>
