<div class="container-fluid">
  <div class="section-one">
    <div class="thanks-para">Thanks for your request. We have notified nearby tutors about your requirement. You will get response within 24 hours.</div>
  </div>
  <div class="section-two" style="padding: 25px;">
    <div class="heading1">Your Nearby Tutors</div>
    <div class="row" id="tutorGrid">
      
    </div>
  </div>
  <div id="pagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        
      </ul>
    </nav>
  </div>
</div>