
<app-tutor-menu></app-tutor-menu>
<div style="margin-top: 10px;padding:10px">
  <div class="accordion_container">
    <div class="accordion_body">
         <!-- <div class="table-responsive">
         <table class="table table-bordered education-table" style="min-width:700px">
            <tr>
                <th>PASSING</th>
                <th>EXAM/STREAM</th>
                <th>NAME PASSING BOARD/<br>UNIVERSITY</th>
                <th>PASSING STATE</th>
                <th>PASSING YEAR</th>
                <th>MODE OF STUDY</th>
                <th>MARKS OBTENED (%)</th>
                <th>TYPE OF SCHOOL/<br>COLLAGE</th>
            </tr>
            <tr id="intermidiate">
                <th>CLASS XII / 10+2</th>
                <td>
                    <select class="form-control examStream">
                        <option value="" selected disabled>select</option>
                        <option value="SCIENCE">SCIENCE</option>
                        <option value="COMMERCE">COMMERCE</option>
                        <option value="HUMINITY/ART">HUMINITY/ART</option>
                    </select>
                </td>
                <td>
                    <select class="form-control board">
                        <option value="" selected disabled>select</option>
                        <option value="CBSE">CBSE</option>
                        <option value="IB">IB</option>
                        <option value="ISC">ISC</option>
                        <option value="STATE BOARD">STATE BOARD</option>
                        <option value="OPEN SCHOOL">OPEN SCHOOL</option>
                        <option value="OTHER">OTHER</option>
                    </select>
                </td>
                <td>
                    <select class="form-control states" data-size="3" data-live-search="true">

                    </select>
                </td>
                <td><input class="form-control passingYear" type="number"></td>
                <td>
                    <select class="form-control modeOfStudy">
                        <option value="" selected disabled>select</option>
                        <option value="REGULAR">REGULAR</option>
                        <option value="CORRESPODENCE">CORRESPODENCE</option>
                    </select>
                </td>
                <td><input class="form-control markObtained" type="number"></td>
                <td>
                    <select class="form-control schoolType">
                        <option value="" selected disabled>select</option>
                        <option value="GOVT">GOVT</option>
                        <option value="PRIVATE">PRIVATE</option>
                    </select>
                </td>
                <input type="hidden" class="eduId" value="">
            </tr>
            <tr id="graduation">
                <th>GRADUATION</th>
                <td>
                    <select class="form-control examStream">
                        <option value="" selected disabled>select</option>
                        <option value="SCIENCE">SCIENCE</option>
                        <option value="COMMERCE">COMMERCE</option>
                        <option value="HUMINITY/ART">HUMINITY/ART</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control board">
                </td>
                <td>
                    <select class="form-control states" data-size="3" data-live-search="true">

                    </select>
                </td>
                <td><input class="form-control passingYear" type="number"></td>
                <td>
                    <select class="form-control modeOfStudy">
                        <option value="" selected disabled>select</option>
                        <option value="REGULAR">REGULAR</option>
                        <option value="CORRESPODENCE">CORRESPODENCE</option>
                    </select>
                </td>
                <td><input class="form-control markObtained" type="number"></td>
                <td>
                    <select class="form-control schoolType">
                        <option value="" selected disabled>select</option>
                        <option value="GOVT">GOVT</option>
                        <option value="PRIVATE">PRIVATE</option>
                    </select>
                </td>
                <input type="hidden" class="eduId" value="">
            </tr>
            <tr id="master">
                <th>MASTER</th>
                <td>
                    <select class="form-control examStream">
                        <option value="" selected disabled>select</option>
                        <option value="SCIENCE">SCIENCE</option>
                        <option value="COMMERCE">COMMERCE</option>
                        <option value="HUMINITY/ART">HUMINITY/ART</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control board">
                </td>
                <td>
                    <select class="form-control states" data-size="3" data-live-search="true">

                    </select>
                </td>
                <td><input class="form-control passingYear" type="number"></td>
                <td>
                    <select class="form-control modeOfStudy">
                        <option value="" selected disabled>select</option>
                        <option value="REGULAR">REGULAR</option>
                        <option value="CORRESPODENCE">CORRESPODENCE</option>
                    </select>
                </td>
                <td><input class="form-control markObtained" type="number"></td>
                <td>
                    <select class="form-control schoolType">
                        <option value="" selected disabled>select</option>
                        <option value="GOVT">GOVT</option>
                        <option value="PRIVATE">PRIVATE</option>
                    </select>
                </td>
                <input type="hidden" class="eduId" value="">
            </tr>
            <tr id="other">
                <th>OTHER ANY DEGREE <br>DIPLOMA/ CERTIFICATE COURSE</th>
                <td>
                    <input type="text" class="form-control examStream">
                </td>
                <td>
                    <input type="text" class="form-control board">
                </td>
                <td>
                    <select class="form-control states" data-size="3" data-live-search="true">

                    </select>
                </td>
                <td><input class="form-control passingYear" type="number"></td>
                <td>
                    <select class="form-control modeOfStudy">
                        <option value="" selected disabled>select</option>
                        <option value="REGULAR">REGULAR</option>
                        <option value="CORRESPODENCE">CORRESPODENCE</option>
                    </select>
                </td>
                <td><input class="form-control markObtained" type="number"></td>
                <td>
                    <select class="form-control schoolType">
                        <option value="" selected disabled>select</option>
                        <option value="GOVT">GOVT</option>
                        <option value="PRIVATE">PRIVATE</option>
                    </select>
                </td>
                <input type="hidden" class="eduId" value="">
            </tr>
        </table>
        </div>
         <div style="text-align:right;padding: 25px 40px 0px;text-align: center;">
           <button type="button" id="saveQualification" class="btn btn-primary" style="width: 300px;">Save Education</button>
         </div>
         <br><br> -->
                <div style="padding: 15px;">Highest Qualification : <b><span id="qualification"></span></b></div>
                <br>
                <div class="row">
                  <div class="col-12 col-md-3 eduTab" data-id="intermidiate">
                      <div class="education-card">INTERMIDIATE<br><small>(Class XII / 10+2)</small></div>
                  </div>
                  <div class="col-12 col-md-3 eduTab" data-id="graduation">
                      <div class="education-card">GRADUATION<br><small>(Bsc/ Bcom/ Ba/ Bba/ Btech)</small></div>
                  </div>
                  <div class="col-12 col-md-3 eduTab" data-id="master">
                      <div class="education-card">MASTER<br><small>(Msc/ Mcom/ Ma/ Mba/ Mtech)</small></div>
                  </div>
                  <div class="col-12 col-md-3 eduTab" data-id="other">
                      <div class="education-card">OTHER <br><small>(Diploma/ Certificate Courses)</small></div>
                  </div> 
                </div>
    </div>
  </div>
  
</div><!-- container -->
<!-- change status Modal -->
<div class="modal fade" id="educationModal">
        <div class="modal-dialog modal-md modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="passing-deg"></h4>
              <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
              <form id="educationForm" data-id="" onsubmit="return false;">
                    <div class="form-group">
                        <div class="streamForInter">
                            <select class="form-control selectpicker" id="examStreamInter" name="examStreamInter">
                                <option value="" selected disabled>Stream</option>
                                <option value="Science">Science</option>
                                <option value="Commerce">Commerce</option>
                                <option value="Huminity/Art">Huminity/Art</option>
                            </select>
                        </div>
                        <div class="streamForOther">
                            <input type="text" placeholder="Course/Stream" class="form-control" id="examStreamOther" name="examStreamOther">
                        </div>
                    </div>
                    <div class="form-group" id="boardGroup">
                        <div id="boardForInterDiv">
                            <select class="form-control selectpicker" id="boardForInter" name="board">
                                    <option value="" selected disabled>	Board</option>
                                    <option value="CBSE">CBSE</option>
                                    <option value="IB">IB</option>
                                    <option value="ISC">ISC</option>
                                    <option value="State Board">State Board</option>
                                    <option value="Open School">Open School</option>
                                    <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="input-group" id="boardForOtherDiv">
                            <input type="text" placeholder="University" id="boardForOther" class="form-control" name="boardForOther">
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control selectpicker states" data-size="3" name="states" data-live-search="true" required>
                            
                        </select>
                    </div>  
                    <div class="form-group">
                        <div class="input-group">
                            <input type="tel" placeholder="Passing Year" id="passingYear" class="form-control" name="passingYear" maxlength="4" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control selectpicker" id="modeOfStudy" name="modeOfStudy">
                            <option value="" selected disabled>Mode of Study</option>
                            <option value="Regular">Regular</option>
                            <option value="Correspondence">Correspondence</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="tel" placeholder="Obtained Marks (%)" id="markObtained" class="form-control" name="markObtained" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control selectpicker" id="schoolType" name="schoolType">
                            <option value="" selected disabled>Type of School</option>
                            <option value="GOVT">GOVT</option>
                            <option value="Private">Private</option>
                        </select>
                    </div>
                    <input type="hidden" id="eduId" name="eduId">
                    <div style="text-align:center">
                        <button type="button" id="saveQualification" class="btn">Save Qualification</button>
                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
