
<app-tutor-menu></app-tutor-menu>
<div style="margin-top: 10px;padding:10px">
  <div class="accordion_container">
    <div class="accordion_head">Educational Qualification</div>
    <div class="accordion_body">
         <div class="table-responsive">
         <table class="table table-bordered education-table" style="min-width:700px">
            <tr>
                <th>PASSING</th>
                <th>EXAM/STREAM</th>
                <th>NAME PASSING BOARD/<br>UNIVERSITY</th>
                <th>PASSING STATE</th>
                <th>PASSING YEAR</th>
                <th>MODE OF STUDY</th>
                <th>MARKS OBTENED (%)</th>
                <th>TYPE OF SCHOOL/<br>COLLAGE</th>
            </tr>
            <tr id="intermidiate">
                <th>CLASS XII / 10+2</th>
                <td>
                    <select class="form-control examStream">
                        <option value="" selected disabled>select</option>
                        <option value="SCIENCE">SCIENCE</option>
                        <option value="COMMERCE">COMMERCE</option>
                        <option value="HUMINITY/ART">HUMINITY/ART</option>
                    </select>
                </td>
                <td>
                    <select class="form-control board">
                        <option value="" selected disabled>select</option>
                        <option value="CBSE">CBSE</option>
                        <option value="IB">IB</option>
                        <option value="ISC">ISC</option>
                        <option value="STATE BOARD">STATE BOARD</option>
                        <option value="OPEN SCHOOL">OPEN SCHOOL</option>
                        <option value="OTHER">OTHER</option>
                    </select>
                </td>
                <td>
                    <select class="form-control states" data-size="3" data-live-search="true">

                    </select>
                </td>
                <td><input class="form-control passingYear" type="number"></td>
                <td>
                    <select class="form-control modeOfStudy">
                        <option value="" selected disabled>select</option>
                        <option value="REGULAR">REGULAR</option>
                        <option value="CORRESPODENCE">CORRESPODENCE</option>
                    </select>
                </td>
                <td><input class="form-control markObtained" type="number"></td>
                <td>
                    <select class="form-control schoolType">
                        <option value="" selected disabled>select</option>
                        <option value="GOVT">GOVT</option>
                        <option value="PRIVATE">PRIVATE</option>
                    </select>
                </td>
                <input type="hidden" class="eduId" value="">
            </tr>
            <tr id="graduation">
                <th>GRADUATION</th>
                <td>
                    <select class="form-control examStream">
                        <option value="" selected disabled>select</option>
                        <option value="SCIENCE">SCIENCE</option>
                        <option value="COMMERCE">COMMERCE</option>
                        <option value="HUMINITY/ART">HUMINITY/ART</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control board">
                </td>
                <td>
                    <select class="form-control states" data-size="3" data-live-search="true">

                    </select>
                </td>
                <td><input class="form-control passingYear" type="number"></td>
                <td>
                    <select class="form-control modeOfStudy">
                        <option value="" selected disabled>select</option>
                        <option value="REGULAR">REGULAR</option>
                        <option value="CORRESPODENCE">CORRESPODENCE</option>
                    </select>
                </td>
                <td><input class="form-control markObtained" type="number"></td>
                <td>
                    <select class="form-control schoolType">
                        <option value="" selected disabled>select</option>
                        <option value="GOVT">GOVT</option>
                        <option value="PRIVATE">PRIVATE</option>
                    </select>
                </td>
                <input type="hidden" class="eduId" value="">
            </tr>
            <tr id="master">
                <th>MASTER</th>
                <td>
                    <select class="form-control examStream">
                        <option value="" selected disabled>select</option>
                        <option value="SCIENCE">SCIENCE</option>
                        <option value="COMMERCE">COMMERCE</option>
                        <option value="HUMINITY/ART">HUMINITY/ART</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control board">
                </td>
                <td>
                    <select class="form-control states" data-size="3" data-live-search="true">

                    </select>
                </td>
                <td><input class="form-control passingYear" type="number"></td>
                <td>
                    <select class="form-control modeOfStudy">
                        <option value="" selected disabled>select</option>
                        <option value="REGULAR">REGULAR</option>
                        <option value="CORRESPODENCE">CORRESPODENCE</option>
                    </select>
                </td>
                <td><input class="form-control markObtained" type="number"></td>
                <td>
                    <select class="form-control schoolType">
                        <option value="" selected disabled>select</option>
                        <option value="GOVT">GOVT</option>
                        <option value="PRIVATE">PRIVATE</option>
                    </select>
                </td>
                <input type="hidden" class="eduId" value="">
            </tr>
            <tr id="other">
                <th>OTHER ANY DEGREE <br>DIPLOMA/ CERTIFICATE COURSE</th>
                <td>
                    <input type="text" class="form-control examStream">
                </td>
                <td>
                    <input type="text" class="form-control board">
                </td>
                <td>
                    <select class="form-control states" data-size="3" data-live-search="true">

                    </select>
                </td>
                <td><input class="form-control passingYear" type="number"></td>
                <td>
                    <select class="form-control modeOfStudy">
                        <option value="" selected disabled>select</option>
                        <option value="REGULAR">REGULAR</option>
                        <option value="CORRESPODENCE">CORRESPODENCE</option>
                    </select>
                </td>
                <td><input class="form-control markObtained" type="number"></td>
                <td>
                    <select class="form-control schoolType">
                        <option value="" selected disabled>select</option>
                        <option value="GOVT">GOVT</option>
                        <option value="PRIVATE">PRIVATE</option>
                    </select>
                </td>
                <input type="hidden" class="eduId" value="">
            </tr>
        </table>
        </div>
         <div style="text-align:right;padding: 25px 40px 0px;text-align: center;">
           <button type="button" id="saveQualification" class="btn btn-primary" style="width: 300px;">Save Education</button>
         </div>
    </div>
  </div>
  
</div><!-- container -->
