<app-main-menu></app-main-menu>
<div class="container-fluid">
    <div class="row overlay">
        <div class="col-md-6 offset-md-3" style="margin-top: 100px;">
            <form role="form" class="registration-form" action="javascript:void(0);">
                <div class="fieldset">
                    <div class="form-top">
                        <div class="form-top-left">
                            <div class="reg-heading">Contact Us </div>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="form-group">
                            <input type="text" placeholder="Enter Your Name"  name="name" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <input type="tel" placeholder="Mobile Number(only 10 digit)"  name="mobileNumber" class="form-control" id="mobileNumber">
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Email"  name="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <select class="form-control selectpicker" id="queryType" name="queryType" required>
                                    <option value="" selected disabled>I am a</option>
                                    <option value="Student">Student</option>
                                    <option value="Parents / Guardian">Parents / Guardian</option>
                                    <option value="Teacher / Trainer ">Teacher / Trainer </option>
                                    <option value="Service Provider">Service Provider</option>
                                    <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control selectpicker" id="querySubject" name="querySubject" required>
                                    <option value="" selected disabled>Subject</option>
                                    <option value="Request For Call back">Request For Call back</option>
                                    <option value="Query">Query</option>
                                    <option value="Suggestion">Suggestion</option>
                                    <option value="Complain">Complain</option>
                                    <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Write your query..."  name="queryComment" class="form-control" id="queryComment"></textarea>
                        </div>
                        <div style="text-align:center">
                            <button type="button" id="login" class="btn btn-register">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
     