<div class="container-fluid">
    <div class="row overlay">
        <div class="col-md-6 offset-md-3" style="margin-top: 100px;">
            <form role="form" class="registration-form" action="javascript:void(0);">
                <div class="fieldset">
                    <div class="form-top">
                        <div class="form-top-left">
                            <div class="reg-heading">Contact Us </div>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="form-group">
                            <input type="text" placeholder="Name"  name="name" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <input type="tel" placeholder="Mobile Number(only 10 digit)"  name="mobileNumber" class="form-control" id="mobileNumber">
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Email"  name="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <div class="custom-control-inline custom-radio custom-control">
                                <input type="radio" value="Student/Guardian" class="custom-control-input" id="status1" name="status">
                                <label class="custom-control-label" for="status1">Student/Guardian</label>
                              </div>
                              <div class="custom-control-inline custom-radio custom-control">
                                <input type="radio" value="Teacher" class="custom-control-input" id="status2" name="status">
                                <label class="custom-control-label" for="status2">Teacher</label>
                              </div>
                              <div class="custom-control-inline custom-radio custom-control">
                                  <input type="radio" value="Other" class="custom-control-input" id="status3" name="status">
                                  <label class="custom-control-label" for="status3">Other</label>
                              </div>    
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Subject"  name="subject" class="form-control" id="subject">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Write your query..."  name="query" class="form-control" id="query"></textarea>
                        </div>
                        <div style="text-align:center">
                            <button type="button" id="login" class="btn btn-register">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
     