
<app-tutor-menu></app-tutor-menu>
<div style="margin-top: 10px;padding:10px">
  <div class="accordion_container">
    <div class="accordion_body">
        <div>
            <div class="formDiv_5" style="margin-bottom: 10px !important;">
                <div class="col-xs-12" id="currentAddress">
                    <label>Current Address</label>
                    <table class="table table-mob">
                        <tr><td><input id="currAddress1" placeholder="Flat/House No./Building" type="text" name="currAddress1" class="form-control" autocomplete="off" required></td></tr>
                        <tr><td><input id="currAddress2" placeholder="Colony/Street/Locality" type="text" name="currAddress2" class="form-control" autocomplete="off" required></td></tr>
                        <tr><td><input id="currPostalCode" type="number" placeholder="Postal Code" name="currPostalCode" class="form-control" autocomplete="off" required></td></tr>
                        <tr>
                            <td>
                                <input type="text" id="currentCity" placeholder="City" name="city" class="form-control" autocomplete="off" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-control states" data-size="3" data-live-search="true">

                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="currAddessId" value="">
                </div>
                <br>
                <div style="text-align: center;">
                    <label>IS IT YOUR OWN HOUSE ?</label>
                    <div class="btn-group ownHouseRadio" data-toggle="buttons">
                        <label class="btn btn-default-radio width100px">
                            <input type="radio" name="isOwnHouse" value="Yes" autocomplete="off"> YES
                        </label>
                        <label class="btn btn-default-radio width100px">
                            <input type="radio" name="isOwnHouse" value="No" autocomplete="off"> NO
                        </label>
                    </div>
                </div>
                <div class="col-xs-12" id="permanentAddress" hidden>
                    <br>
                    <label>Permanent Address</label>
                    <table class="table table-mob">
                        <tr><td><input id="perAddress1" placeholder="Flat/House No./Building" type="text" name="perAddress1" class="form-control" autocomplete="off" required></td></tr>
                        <tr><td><input id="perAddress2" placeholder="Colony/Street/Locality" type="text" name="perAddress2" class="form-control" autocomplete="off" required></td></tr>
                        <tr><td><input id="perPostalCode" type="number" placeholder="Postal Code" name="perPostalCode" class="form-control" autocomplete="off" required></td></tr>
                        <tr>
                            <td>
                                <input type="text" id="perCity"  placeholder="City" name="city" class="form-control" autocomplete="off" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-control selectpicker states" data-size="3" name="states" data-live-search="true" required>
                                    
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="perAddessId" value="">
                </div>
                <br>
                <div class="col-xs-12" id="addressProofDiv">
                    <div class="input-group" style="width: 300px;margin: 20px auto;">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="addressProof"/>
                            <label class="custom-file-label" for="addressProof">Upload Proof</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <button type="button" id="saveAddress" class="btn btn-primary" style="width: 300px;">Save Address</button>
        </div>
    </div>

  </div>
  
</div><!-- container -->
