
<app-menu></app-menu>
<div style="margin-top: 10px;padding:10px">
  <div class="accordion_container">
    <div class="accordion_body">
        <div>
            <div class="formDiv_5" style="margin-bottom: 10px !important;">
                <div class="col-xs-12" id="currentAddress">
                    <label>Current Address</label>
                    <table class="table table-mob">
                        <tr><td><input id="currAddress1" placeholder="Flat/House No./Building" type="text" name="currAddress1" class="form-control" autocomplete="off" required></td></tr>
                        <tr><td><input id="currAddress2" placeholder="Colony/Street/Locality" type="text" name="currAddress2" class="form-control" autocomplete="off" required></td></tr>
                        <tr><td><input id="currPostalCode" type="number" placeholder="Postal Code" name="currPostalCode" class="form-control" autocomplete="off" required></td></tr>
                        <tr>
                            <td>
                                <input type="text" id="currentCity" placeholder="City" name="city" class="form-control" autocomplete="off" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-control states" data-size="3" data-live-search="true">

                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="currAddessId" value="">
                    <input type="hidden" id="currAddessUrl" value="">
                </div>
                <br>
                <div style="text-align: center;">
                    <label>IS IT YOUR OWN HOUSE ?</label>
                    <div class="btn-group ownHouseRadio" data-toggle="buttons">
                        <label class="btn btn-default-radio width100px">
                            <input type="radio" name="isOwnHouse" value="Yes" autocomplete="off" style="display: none;"> YES
                        </label>
                        <label class="btn btn-default-radio width100px">
                            <input type="radio" name="isOwnHouse" value="No" autocomplete="off" style="display: none;"> NO
                        </label>
                    </div>
                </div>
                <div class="col-xs-12" id="permanentAddress" hidden>
                    <br>
                    <label>Permanent Address</label>
                    <table class="table table-mob">
                        <tr><td><input id="perAddress1" placeholder="Flat/House No./Building" type="text" name="perAddress1" class="form-control" autocomplete="off" required></td></tr>
                        <tr><td><input id="perAddress2" placeholder="Colony/Street/Locality" type="text" name="perAddress2" class="form-control" autocomplete="off" required></td></tr>
                        <tr><td><input id="perPostalCode" type="number" placeholder="Postal Code" name="perPostalCode" class="form-control" autocomplete="off" required></td></tr>
                        <tr>
                            <td>
                                <input type="text" id="perCity"  placeholder="City" name="city" class="form-control" autocomplete="off" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-control selectpicker states" data-size="3" name="states" data-live-search="true" required>
                                    
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="perAddessId" value="">
                    <input type="hidden" id="perAddessUrl" value="">
                </div>
                <br>
            </div>
        </div>
        <div style="text-align: center;">
            <button type="button" id="saveAddress" class="btn btn-primary" style="width: 300px;">Save Address</button>
        </div>
        <hr>
        <div class="col-xs-12 table-responsive" id="addressProof" style="max-width: 552px;margin: 0 auto;">
            <p style="text-align: center;font-size: 20px;font-weight: bold;color: #ef7309;text-decoration: underline;">Upload Address Proof For Verification</p>
            <table class="table table-bordered" style="text-align: center;">
                <tr>
                    <th>Front Side</th>
                    <th>Back Side</th>
                </tr>
                <tr>
                    <td><img alt="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" style="width: 250px;height: 200px;" id="frontImg" src="/assets/docx-placeholder.png"></td>
                    <td><img alt="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" style="width: 250px;height: 200px;" id="backImg" src="/assets/docx-placeholder.png"></td>
                </tr>
                <tr>
                    <td style="padding: 0;">
                        <div class="form-group" style="margin: 0 !important;">
                            <label for="uploadFrontSide" id="uploadProfilePicBtn" data-role="button" class="btn btn-uploadfile" data-corners="true">
                              Upload
                            </label>
                            <input id="uploadFrontSide" type="file" name="uploadFile" style="opacity: 0;width:0px; height:0px;display:none;" accept="image/x-png,image/gif,image/jpeg"/>
                        </div>
                    </td>
                    <td style="padding: 0;">
                        <div class="form-group" style="margin: 0 !important;">
                            <label for="uploadBackSide" id="uploadProfilePicBtn" data-role="button" class="btn btn-uploadfile" data-corners="true">
                              Upload
                            </label>
                            <input id="uploadBackSide" type="file" name="uploadFile"  data-role="button" data-corners="true" style="opacity: 0;width:0px; height:0px;display:none;" accept="image/x-png,image/gif,image/jpeg"/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

  </div>
  
</div><!-- container -->
