<app-menu></app-menu>
<div class="container-fluid requirement-section">
<div class="row overlay">
    <div class="col-md-6 offset-md-3" style="margin-top: 30px;">
        <form role="form" class="registration-form" action="javascript:void(0);">
            <div class="fieldset">
                <div class="form-top">
                    <div class="form-top-left">
                        <div class="reg-heading">Post Your Learning</div>
                    </div>
                </div>
                <div class="form-bottom">
                    <div class="form-group">
                        <select class="form-control selectpicker" id="classGroup" name="classGroup" required>
                            
                        </select>
                    </div>
                    <div class="form-group" id="chooseClassDiv" hidden>
                            <select class="form-control selectpicker" id="chooseClass" name="chooseClass" required>
                                            
                            </select>
                    </div>    
                    <div class="form-group" id="chooseSubjectDiv" hidden>
                        <select class="form-control selectpicker" id="chooseSubject" name="chooseSubject" required>
                            
                        </select>
                    </div>
                    <div class="form-group" id="boardDiv" hidden>
                        <select class="form-control selectpicker" id="board" name="board">
                                <option value="" selected disabled>Select Board</option>
                                <option value="CBSE Board">CBSE Board</option>
                                <option value="IB Board">IB Board</option>
                                <option value="ISC Board">ISC Board</option>
                                <option value="ICSE Board">ICSE Board</option>
                                <option value="IGCSE Board">IGCSE Board</option>
                                <option value="State Board">State Board</option>
                                <option value="Open School">Open School</option>
                                <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group otherBoard" hidden>
                        <div class="input-group">
                            <input type="text" placeholder="Please Mention Board/University" id="otherBoard" class="form-control" name="otherBoard">
                        </div>
                    </div>
                    <div style="text-align:right">
                        <button type="button" class="btn btn-next">Next</button>
                    </div>
                </div>
            </div>

            <div  class="fieldset">
                <div class="form-top">
                    <div class="form-top-left">
                        <div class="reg-heading">Address / Location</div>
                    </div>
                </div>
                <div class="form-bottom">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="Flat NO ; Street NO ; Apartment" id="addrLine1" class="form-control" name="addrLine1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="Locality (Ex. Mayur Vihar Phase-3) *" id="location" class="form-control" name="location" required>
                        </div>
                    </div>   
                    <div class="form-group">
                        <div class="input-group">
                            <input type="tel" placeholder="Enter Your Pin Code (6 digits) *" id="pinCode" class="form-control" name="pinCode" maxlength="6" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <select id="states" class="form-control selectpicker" data-size="3" name="states" data-live-search="true" required>
                                
                            </select>
                        </div>
                    </div>
                    <div id="cityDiv" class="form-group" hidden>
                        <div class="input-group">
                            <select id="city" class="form-control selectpicker" data-size="3" name="city" data-live-search="true" required>
                                
                            </select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-previous">Previous</button>
                    <button type="button" class="btn btn-next" style="float: right;">Next</button>
                </div>
            </div>

            <div class="fieldset">
                <div class="form-top">
                    <div class="form-top-left">
                        <div class="reg-heading">Contact Details</div>
                    </div>
                </div>
                <div class="form-bottom">
                    <div class="form-group">
                        <input type="text" placeholder="Enter Your Name *"  name="name" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Enter Your Email"  name="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <input type="tel" placeholder="Mobile Number(only 10 digits) *"  name="mobileNumber" class="form-control" id="mobileNumber" maxlength="10" required>
                    </div>
                    <div class="form-group">
                        <input type="tel" placeholder="WhatsApp Number(only 10 digits) *"  name="whatsappNumber" class="form-control" id="whatsappNumber" maxlength="10" required>
                    </div>
                    <!-- <div class="form-group">
                        <select class="form-control selectpicker" id="chooseGender" name="chooseGender">
                            <option value="" disabled>Gender</option>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        </select>
                    </div> -->
                    <button type="button" class="btn btn-previous">Previous</button>
                    <button type="button" class="btn btn-next" style="float: right;">Next</button>
                </div>
            </div>

            <div  class="fieldset">
                <div class="form-top">
                    <div class="form-top-left">
                        <div class="reg-heading">Preference</div>
                    </div>
                </div>
                <div class="form-bottom">
                    <div class="form-group">
                        <label>I am looking for</label>
                        <select class="form-control selectpicker" id="tutorType" name="tutorType" required>
                            <option value="TUTOR" selected>Home Tutor (At Student's Place)</option>
                            <option value="COACHING">Coaching Institute (At Tutor's Place)</option>
                            <option value="FACULTY">Faculty</option>
                            <option value="ONLINE">Online Teacher</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Prefer Tutor Gender</label>
                        <select class="form-control selectpicker" id="preferGender" name="preferGender" required>
                            <option value="Any The Best" selected>Any The Best</option>
                            <option value="Male Only">Male Only</option>
                            <option value="Female Only">Female Only</option>
                            <option value="Decide Later">Decide Later</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Prefer Timing</label>
                        <select class="form-control selectpicker" id="preferTiming" name="preferTiming" required>
                            <option value="Decide Later" selected>Decide Later</option>
                            <option value="Between 7 AM to 9 AM">Between 7 AM to 9 AM</option>
                            <option value="Between 9 AM to 12 PM">Between 9 AM to 12 PM</option>
                            <option value="Between 12 PM to 3 PM">Between 12 PM to 3 PM</option>
                            <option value="Between 3 PM to 5 PM">Between 3 PM to 5 PM</option>
                            <option value="Between 5 PM to 7 PM">Between 5 PM to 7 PM</option>
                            <option value="Between 7 PM to 9 PM">Between 7 PM to 9 PM</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Prefer Day</label>
                        <select class="form-control selectpicker" id="preferDay" name="preferDay" required>
                            <option value="Decide Later" selected>Decide Later</option>
                            <option value="Once A Week">Once A Week</option>
                            <option value="Twice A Week">Twice A Week</option>
                            <option value="Thrice A Week">Thrice A Week</option>
                            <option value="Four Days in A Week">Four Days in A Week</option>
                            <option value="Five Days in A Week">Five Days in A Week</option>
                            <option value="Six Days in A Week">Six Days in A Week</option>
                            <option value="On Weekends">On Weekends</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label style="width: 100%;line-height: 20px;">Prefer Fee <br><small>(*Negotiable)</small></label>
                        <input type="tel" placeholder="Rs. *"  name="preferFee" class="form-control" id="preferFee" style="width: 54%;display: inline;" required>
                        <div style="width: 44%;float: right;">
                            <select class="form-control selectpicker" id="hourlyMonthly" name="hourlyMonthly" required>
                                <option value="hour" selected>Hourly</option>
                                <option value="month">Monthly</option>
                                <option value="year">Yearly</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Student Performance</label>
                        <select class="form-control selectpicker" id="studentPerformance" name="studentPerformance" required>
                            <option value="Average">Average</option>
                            <option value="Good">Good</option>
                            <option value="Excellent">Excellent</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>I want to</label>
                        <select class="form-control selectpicker" id="reasonForQuery" name="reasonForQuery" required>
                            <option value="Start immediately ">Start immediately </option>
                            <option value="Just quire about fee and avaibility">Just quire about fee and avaibility</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Anything else please write here.. " rows="2" id="anythingElse" name="anythingElse" required></textarea>
                    </div>
                    <button type="button" class="btn btn-previous">Previous</button>
                    <button type="button" id="submit" class="btn" style="float: right;">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<!-- data confirm modal-->
<div class="modal fade" id="myProfileModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <span style="font-size: 20px;font-weight: bold;color: #378472;">Review Your Data</span>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          
        </div>
      </div>
    </div>
  </div>
  <!-- The Modal -->
  <div class="modal fade" id="myErrorModal">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body" style="text-align:center;font-weight:bold">
            <br>
            <p>Mobile Number <span id="alreadyExistNumber"></span> already exits. <br>Please Login to continue.</p>
            <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="/login">
                <button class="btn">Continue to login</button>
            </a>
            <br><br>
        </div>
        </div>
    </div>
</div>