.requirement-section{
    background-image: url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    min-height: 100vh;
    background: rgba(93, 151, 158, 0.5);
}
.btn-register{
    border-radius: 50px;
    min-width: 200px;
    margin: 20px 0 !important;
}
.modal-header {
    background: #058472;
}
.modal-body{
    text-align: center;
    padding: 0;
}