.overlay{
    min-height: 100vh;
    background-image: radial-gradient(#bdcbe6, #e9e9f5);
}
.btn-register{
    border-radius: 50px;
    background: #020151;
    padding: 10px 15px;
    margin: 0 5px;
    color: #fff;
}
.modal-header {
    background: #058472;
}
.modal-body{
    text-align: center;
    padding: 0;
}