<div id="mySidenav" class="sidenav">
  <span href="javascript:void(0)" id="closeSideNav" class="closebtn">&times;</span>
  <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" class="active" href="javascript:void(0)" id="dashboard" style="border-top: 1px solid #1c2960;">Dashboard</a>
  <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="javascript:void(0)" id="profile">View Profile</a>
  <!-- <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="javascript:void(0)" id="editProfile">Update Profile</a> -->
  <button class="dropdown-btn" id="editProfile">Update Profile 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="javascript:void(0)" class="classAndSubject">Class and Subject</a>
    <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="javascript:void(0)" class="educationQualification">Education Qualification</a>
    <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="javascript:void(0)" class="workLocation">Work Location</a>
    <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="javascript:void(0)" class="workExperience">Work Experience</a>
    <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="javascript:void(0)" class="saveAddress">Address</a>
    <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="javascript:void(0)" class="saveGuarantor">Guarantor</a>
  </div>
  <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="javascript:void(0)" class="searchJobA">Find Job</a>
  <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="/about-us" class="aboutUsA">About Us</a>
  <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="/why-us" class="whyUsA">Why Us</a>
  <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="/contactus"  class="contactUsA">Contact Us</a>
  <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="/askQuestion" class="askQuestionA">Ask Your Question</a>
  <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="/feedback" class="feedbackA">Feedback</a>
  <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="/faq/tutor" class="faqA">FAQS</a>
  <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="/how-it-works/tutor" class="howItWorkA">How It Works</a>
  <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="/tnc/tutor" class="tncA">Terms & Conditions</a>
  <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="/privacy-policy" class="policyA">Privacy Policy</a>
</div>
<div class="openSideNav"><span id="viewTabName">Tutor Dashboard</span></div>