
<app-menu></app-menu>
<div style="margin-top: 10px;padding:10px">
  <div class="accordion_container">
    <div class="accordion_body">
       <table class="table table-bordered" id="classTable">
            
       </table>
       <div class="addMore_1">
          
       </div>
       <hr>
       <div style="text-align: center;">
         <button type="button" id="saveClass" class="btn btn-primary" style="width: 300px;">Save Classes and Subject</button>
       </div>
    </div>

  </div>
</div><!-- container -->
