
<app-tutor-menu></app-tutor-menu>
<div style="margin-top: 10px;padding:10px">
  <div class="accordion_container">
    <div class="accordion_head">Classes And Subjects</div>
    <div class="accordion_body">
       <table class="table table-bordered" id="classTable">
            
       </table>
       <div class="addMore_1">
          <div class="row formDiv_1" style="margin-bottom: 10px !important;">
              <div class="col-md-5">
                  <select class="selectpicker form-control chooseClass" id="class_1" name="class_1">
                      
                  </select>
              </div>
              <div class="col-md-6">
                  <select class="selectpicker form-control chooseSubject" title="Select subjects according to class" multiple>
                      
                  </select>
              </div>
              <div class="col-md-1"><span class="addMoreClass addBtn">+</span></div>
            </div>
       </div>
       <div style="text-align:right;padding: 25px 40px 0px;text-align: center;">
         <button type="button" id="saveClass" class="btn btn-primary" style="width: 300px;">Save Classes and Subject</button>
       </div>
    </div>

  </div>
</div><!-- container -->
