<app-student-menu></app-student-menu>
<div class="section-two" style="padding: 25px;">
    <div class="row" id="reviewTeacherDiv">
        <div class="col-md-6 col-xs-1 offset-md-3">
          <div class="tutorgrid">
          <div class="text-centered">
            <img src="/assets/userIcon.png" width="36px">
            <div class="profile-heading">Ashutosh Kumar</div>
            <hr>
            <div class="profile-name">Rate Ashutosh</div>
            <div class='rating-widget'>
                <!-- Rating Stars Box -->
                <div class='rating-stars text-center'>
                  <ul id='stars'>
                    <li class='star' title='Poor' data-value='1'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Fair' data-value='2'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Good' data-value='3'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Excellent' data-value='4'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='WOW!!!' data-value='5'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                  </ul>
                </div>
              </div>
              <br>
              <form>
                <input type="text" class="form-control student-name" disabled>
                <br>
                <input type="text" class="form-control student-number" disabled>
                <br>
                <textarea rows="2" class="form-control student-review" placeholder="Write A Review"></textarea>
                <br>
                <button type="button" id="saveClass" class="btn btn-primary" style="width: 300px;">Submit Review</button>
              </form>
          </div>
          </div>
          </div>
    </div>
</div>