<div id="mySidenav" class="sidenav">
  <span href="javascript:void(0)" id="closeSideNav" class="closebtn">&times;</span>
  <a href="/tutorRegistration" style="border-top: 1px solid #1c2960;">Join As Tutor</a>
  <a href="/studentRegistration">Join As Learner</a>
  <a href="javascript:void(0)">Search Teaching Jobs</a>
  <!-- <a href="javascript:void(0)" class="updateStatus">Update Status</a> -->
  <a href="javascript:void(0)">Search Teachers</a>
  <a href="/contactus">Contact Us</a>
  <a href="javascript:void(0)">About Us</a>
  <a href="javascript:void(0)">Why Us</a>
  <button class="dropdown-btn">FAQs 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="javascript:void(0)">For Learner</a>
    <a href="javascript:void(0)">For Tutor</a>
  </div>
  <button class="dropdown-btn">How It Works 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="javascript:void(0)">For Learner</a>
    <a href="javascript:void(0)">For Tutor</a>
  </div>
  <button class="dropdown-btn">Terms & Conditions 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="javascript:void(0)">For Learner</a>
    <a href="javascript:void(0)">For Tutor</a>
  </div>
</div>