<div id="mySidenav" class="sidenav">
  <span href="javascript:void(0)" id="closeSideNav" class="closebtn">&times;</span>
  <a href="/" style="border-top: 1px solid #1c2960;" class="homeA">Home</a>
  <a href="/edureg" class="joinTutorA">Join As Educator</a>
  <a href="/post"  class="joinLernerA">Join As Learner</a>
  <a href="stu/search/teaching-job"  class="searchJobA">Search Teaching Jobs</a>
  <!-- <a href="javascript:void(0)" class="updateStatus">Update Status</a> -->
  <a href="edu/search/all-tutor"  class="searchTutorA">Search Teachers</a>
  <a href="/about-us"  class="aboutUsA">About Us</a>
  <a href="/why-us"  class="whyUsA">Why Us</a>
  <a href="/contactus" class="contactUsA">Contact Us</a>
  <a href="/askQuestion"  class="askQuestionA">Ask Your Question</a>
  <a href="/feedback"  class="feedbackA">Feedback</a>
  <button class="dropdown-btn faqA">FAQs 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <!-- <a href="/faq/general">General FAQs</a> -->
    <a href="/faq/student">For Learner</a>
    <a href="/faq/tutor">For Educator</a>
  </div>
  <button class="dropdown-btn howItWorkA">How It Works 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
      <a href="/how-it-works/student">For Learner</a>
      <a href="/how-it-works/tutor">For Educator</a>
  </div>
  <button class="dropdown-btn tncA">Terms & Conditions 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
      <a href="/tnc/general">General TNC</a>
      <a href="/tnc/student">For Learner</a>
      <a href="/tnc/tutor">For Educator</a>
  </div>
  <a href="/privacy-policy"  class="policyA">Privacy Policy</a>
</div>
<div class="openSideNav"><span id="viewTabName"></span></div>