.requirement-section{
    background-image: url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
form.registration-form .fieldset {
    display: none;
}
.overlay{
    min-height: 100vh;
    background: rgba(93,151,158,.5);
}