<app-header></app-header>
<h2 class="main-heading" *ngIf="pageTitle">
    {{pageTitle}}
</h2>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<p class="main-heading" *ngIf="pageTitle">
    Home Tutor, Online Trainer, Institutes, and Faculties. Our online tutoring platform makes connecting with students simple, convenient, and flexible. Find online tutoring opportunities. Apply now and earn extra money working part-time from home.
    Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes.
</p>
<app-footer></app-footer>
