<div id="mySidenav" class="sidenav">
    <span href="javascript:void(0)" id="closeSideNav" class="closebtn">&times;</span>
    <a class="active" href="javascript:void(0)" id="dashboard">Dashboard</a>
    <a href="javascript:void(0)" id="profile">View Profile</a>
    <a href="javascript:void(0)" class="findMoreTutors">Post New Requirement</a>
    <!-- <a href="javascript:void(0)" class="updateStatus">Update Status</a> -->
    <a href="javascript:void(0)" class="review">Review a Teacher</a>
</div>
<div class="openSideNav"><span id="viewTabName">Student Dashboard</span></div>
