
<app-menu></app-menu>
<div style="margin-top: 10px;padding:10px">
  <div class="accordion_container">
    <div class="accordion_body">
       <div>
          <div class="formDiv_4" style="margin-bottom: 10px !important;">
            <div class="row tutorCheck homeTutor">
                <div class="col-12">
                    <div class="custom-control custom-checkbox" style="margin-bottom: 10px;">
                        <input type="checkbox" value="HOME_TUTOR" class="custom-control-input tutorType" id="tutorType1" name="tutorType1">
                        <label class="custom-control-label" for="tutorType1">HOME TUTOR</label>
                    </div>
                    <div class="showOnCheck">
                        <div style="display:inline-block">
                            <label>From</label>
                            <select name="select" class="dropdownYear form-control" style="width: 120px;" id="from1" name="from1" required>
                            </select>
                        </div>
                        <div  style="display:inline-block">
                            <label>To</label>
                            <select name="select" class="dropdownYear form-control" style="width: 120px;" id="to1" name="to1" required>
                            </select>
                        </div>
                        <input type="hidden" class="expid" value="">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row tutorCheck onlineTutor">
                <div class="col-12">
                    <div class="custom-control custom-checkbox" style="margin-bottom: 10px;">
                        <input type="checkbox" value="ONLINE_TUTOR" class="custom-control-input tutorType" id="tutorType2" name="tutorType2">
                        <label class="custom-control-label" for="tutorType2">ONLINE TUTOR</label>
                    </div>
                    <div class="showOnCheck">
                        <div style="display:inline-block">
                            <label>From</label>
                            <select name="select" class="dropdownYear form-control" style="width: 120px;" id="from2" name="from2" required>
                            </select>
                        </div>
                        <div  style="display:inline-block">
                            <label>To</label>
                            <select name="select" class="dropdownYear form-control" style="width: 120px;" id="to2" name="to2" required>
                            </select>
                        </div>
                        <input type="hidden" class="expid" value="">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row tutorCheck teachingAtMyPlace">
                <div class="col-12">
                    <div class="custom-control custom-checkbox" style="margin-bottom: 10px;">
                        <input type="checkbox" value="TEACHING_AT_MY_PLACE" class="custom-control-input tutorType" id="tutorType3" name="tutorType3">
                        <label class="custom-control-label" for="tutorType3">TEACHING AT MY PLACE</label>
                    </div>
                    <div class="showOnCheck">
                        <div style="display:inline-block">
                            <label>From</label>
                            <select name="select" class="dropdownYear form-control" style="width: 120px;" id="from3" name="from3" required>
                            </select>
                        </div>
                        <div  style="display:inline-block">
                            <label>To</label>
                            <select name="select" class="dropdownYear form-control" style="width: 120px;" id="to3" name="to3" required>
                            </select>
                        </div>
                        <input type="hidden" class="expid" value="">
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-12 tutorCheck facultyAtInstitute">
                <div class="custom-control custom-checkbox" style="margin-bottom: 10px;">
                    <input type="checkbox" value="FACUTLTY_AT_INSTITUTE" class="custom-control-input tutorType" id="tutorType4" name="tutorType4">
                    <label class="custom-control-label" for="tutorType4">FACUTLTY AT INSTITUTE</label>
                </div>
                <div class="table-responsive showOnCheck">
                    <table class="table table-bordered faiTable" style="min-width:700px">
                        <tr>
                            <th>Name Of Institute</th>
                            <th>Address/Location</th>
                            <th>Position</th>
                            <th>From</th>
                            <th>To</th>
                        </tr>
                        <tr>
                            <td><input type="text" id="faiName" class="form-control" name="faiName" required></td>
                            <td><input type="text" id="faiAddress" class="form-control" name="faiAddress" required></td>
                            <td><input type="text" id="faiposition" class="form-control" name="faiposition" required></td>
                            <td>
                                <select name="select" class="dropdownYear form-control" style="width: 120px;" id="faiFrom" name="faiFrom" required>
                                </select>
                            </td>
                            <td>
                                <select name="select" class="dropdownYear form-control" style="width: 120px;" id="faiTo" name="faiTo" required>
                                </select>
                            </td>
                        </tr>
                     </table>
                     <input type="hidden" class="expid" value="">
                </div>
            </div>
            <hr>
            <div class="col-12 tutorCheck facultyAtSchool">
                <div class="custom-control custom-checkbox" style="margin-bottom: 10px;">
                    <input type="checkbox" value="FACULTY_AT_SCHOOL" class="custom-control-input tutorType" id="tutorType5" name="tutorType5">
                    <label class="custom-control-label" for="tutorType5">FACULTY AT SCHOOL</label>
                </div>
                <div class="table-responsive showOnCheck">
                    <table class="table table-bordered fasTable" style="min-width:700px">
                        <tr>
                            <th>Name Of Institute</th>
                            <th>Address/Location</th>
                            <th>Position</th>
                            <th>From</th>
                            <th>To</th>
                        </tr>
                        <tr>
                            <td><input type="text" id="fasName" class="form-control" name="fasName" required></td>
                            <td><input type="text" id="fasAddress" class="form-control" name="fasAddress" required></td>
                            <td><input type="text" id="fasposition" class="form-control" name="fasposition" required></td>
                            <td>
                                <select name="select" class="dropdownYear form-control" style="width: 120px;" id="fasFrom" name="fasFrom" required>
                                </select>
                            </td>
                            <td>
                                <select name="select" class="dropdownYear form-control" style="width: 120px;" id="fasTo" name="fasTo" required>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" class="expid" value="">
                </div>
            </div>
            <hr>
          </div>
       </div>
       <div style="text-align: center;">
         <button type="button" id="saveExperiences" class="btn btn-primary" style="width: 300px;">Save Experience</button>
       </div>
    </div>

  </div>
  
</div><!-- container -->
