
<app-tutor-menu></app-tutor-menu>
<div style="margin-top: 10px;padding:10px">
  <div class="accordion_container">
    <div class="accordion_head">Work Locations</div>
    <div class="accordion_body"> 
        <div><h5 style="padding-left: 15px;">Enter upto 10 area pin codes(Zip code), Where you can work. Each zip code should be 6 digits</h5></div>
        <div class="row">
        <div class="col-md-2 col-xs-4">
            <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 1">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id=""  type="text" class="form-control pinCode" placeholder="Zip Code 2">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id=""  type="text" class="form-control pinCode" placeholder="Zip Code 3">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id=""  type="text" class="form-control pinCode" placeholder="Zip Code 4">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id=""  type="text" class="form-control pinCode" placeholder="Zip Code 5">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 6">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 7">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 8">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 9">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 10">
        </div>        
        </div>
        <div  style="text-align:right;padding: 25px 40px 0px;text-align: center;">
            <button data-id="" type="button" id="saveZipCode" class="btn btn-primary" style="width: 300px;">Save Location</button>
        </div>
    </div>

  </div>
  
</div><!-- container -->
