
<app-menu></app-menu>
<div style="margin-top: 10px;padding:10px">
  <div class="accordion_container">
    <div class="accordion_body"> 
        <div><h5 style="padding-left: 15px;">Enter upto 10 area pin codes(Zip code), Where you can work. Each zip code should be 6 digits</h5></div>
        <div class="formDiv row" style="margin-bottom: 10px !important;">
            <div class="col-md-4">
                <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 1">
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control location" placeholder="Location 1">
            </div>
        </div>
        <div class="formDiv row" style="margin-bottom: 10px !important;">
            <div class="col-md-4">
                <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 2">
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control location" placeholder="Location 2">
            </div>
        </div>
        <div class="formDiv row" style="margin-bottom: 10px !important;">
            <div class="col-md-4">
                <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 3">
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control location" placeholder="Location 3">
            </div>
        </div>
        <div class="formDiv row" style="margin-bottom: 10px !important;">
            <div class="col-md-4">
                <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 4">
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control location" placeholder="Location 4">
            </div>
        </div>
        <div class="formDiv row" style="margin-bottom: 10px !important;">
            <div class="col-md-4">
                <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 5">
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control location" placeholder="Location 5">
            </div>
        </div>
        <div class="formDiv row" style="margin-bottom: 10px !important;">
            <div class="col-md-4">
                <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 6">
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control location" placeholder="Location 6">
            </div>
        </div>
        <div class="formDiv row" style="margin-bottom: 10px !important;">
            <div class="col-md-4">
                <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 7">
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control location" placeholder="Location 7">
            </div>
        </div>
        <div class="formDiv row" style="margin-bottom: 10px !important;">
            <div class="col-md-4">
                <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 8">
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control location" placeholder="Location 8">
            </div>
        </div>
        <div class="formDiv row" style="margin-bottom: 10px !important;">
            <div class="col-md-4">
                <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 9">
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control location" placeholder="Location 9">
            </div>
        </div>
        <div class="formDiv row" style="margin-bottom: 10px !important;">
            <div class="col-md-4">
                <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 10">
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control location" placeholder="Location 10">
            </div>
        </div>
        <hr>
        <div  style="text-align: center;">
            <button data-id="" type="button" id="saveZipCode" class="btn btn-primary" style="width: 300px;">Save Work Locations</button>
        </div>
    </div>

  </div>
  
</div><!-- container -->
