<div id="mySidenav" class="sidenav">
  <div class="useravatar">
    <img alt="" src="/assets/userIcon.png">
  </div>
  <span href="javascript:void(0)" id="closeSideNav" class="closebtn">&times;</span>
  <a class="active" href="javascript:void(0)" id="dashboard">Dashboard</a>
  <a href="javascript:void(0)" id="profile">View Profile</a>
  <a href="javascript:void(0)" id="editProfile">Edit Profile</a>
  <a href="javascript:void(0)" class="findMoreTutors">Find More Tutors</a>
  <a href="javascript:void(0)" id="nearbyTutors">Nearby Tutors</a>
  <a href="javascript:void(0)" id="updateStatus">Update Status</a>
</div>
<div id="openSideNav">&#9776;<span id="viewTabName">Student Dashboard</span></div>

<div class="registrationDiv">
  <div class="thanks-para">Thanks for your request. We have notified nearby tutors about your requirement. You will get response within 24 hours.</div>
</div>

<div class="allNavElements" id="dashboardView">
  <div class="section-two" style="padding: 25px;">
    <div class="heading1">Requirements Posted By You</div>
    <div class="table-responsive" id="postedRequirements">
      
    </div>
  </div>
  <div id="pagination1">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          
        </ul>
      </nav>
    </div>
  <!-- Job application Modal -->
 <div class="modal fade" id="viewJobApplicationModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          
        </div>
      </div>
    </div>
  </div>
  <!-- change status Modal -->
 <div class="modal fade" id="changeStatusModal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <form id="changeStatusForm">
            <div class="form-group">
                <select class="form-control" id="changeStatus" name="changeStatus">
                    <option value="" disabled selected>Select Status</option>
                    <option value="CANCELLED">CANCELLED</option>
                    <option value="CLOSED">CLOSED</option>
                </select>
                <input type="hidden" id="jobId" name="jobId">
            </div>
            <div style="text-align:right">
                <button type="button" class="btn saveStatus">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="allNavElements" id="profileView">
  <app-profile></app-profile>
</div>

<div class="allNavElements" id="editProfileView">
  <div>Under Developement</div>
</div>

<div class="allNavElements" id="nearbyTutorsView">
  <app-nearby-tutors></app-nearby-tutors>
</div>

<div class="allNavElements" id="findMoreTutorsView">
  <app-find-more-tutors></app-find-more-tutors>
</div>

<div class="allNavElements" id="updateStatusView">
  <div>Under Developement</div>
</div>

