<div id="mySidenav" class="sidenav">
  <div class="useravatar">
    <img alt="" src="/assets/userIcon.png">
  </div>
  <span href="javascript:void(0)" id="closeSideNav" class="closebtn">&times;</span>
  <a class="active" href="javascript:void(0)" id="dashboard">Dashboard</a>
  <a href="javascript:void(0)" id="profile">View Profile</a>
  <a href="javascript:void(0)" id="editProfile">Edit Profile</a>
  <a href="javascript:void(0)" id="findMoreTutors">Find More Tutors</a>
  <a href="javascript:void(0)" id="nearbyTutors">Nearby Tutors</a>
  <a href="javascript:void(0)" id="updateStatus">Update Status</a>
</div>
<div id="openSideNav">&#9776;<span id="viewTabName">Student Dashboard</span></div>

<div class="allNavElements" id="dashboardView">
  <div></div>
</div>

<div class="allNavElements" id="profileView">
  <app-profile></app-profile>
</div>

<div class="allNavElements" id="editProfileView">
  <div>Under Developement</div>
</div>

<div class="allNavElements" id="nearbyTutorsView">
  <app-nearby-tutors></app-nearby-tutors>
</div>

<div class="allNavElements" id="findMoreTutorsView">
  <app-find-more-tutors></app-find-more-tutors>
</div>

<div class="allNavElements" id="updateStatusView">
  <div>Under Developement</div>
</div>

