<app-menu></app-menu>
<div class="registrationDiv">
  <div class="thanks-para">Thanks for your request. We have notified nearby tutors about your requirement. You will get response within 24 hours.</div>
</div>

<div class="allNavElements" id="dashboardView">
  <div class="section-two" style="padding: 25px;">
    <div class="heading1">Requirements Posted By You</div>
    <div class="table-responsive" id="postedRequirements">
      
    </div>
  </div>
  <div id="pagination1">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          
        </ul>
      </nav>
    </div>
  <!-- Job application Modal -->
 <div class="modal fade" id="viewJobApplicationModal" style="z-index: 99999;">
    <div class="modal-dialog modal-md modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Response By Tutors</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          
        </div>
      </div>
    </div>
  </div>
  <!-- change status Modal -->
 <!-- <div class="modal fade" id="changeStatusModal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <form id="changeStatusForm" onsubmit="return false;">
            <div class="form-group">
                <select class="form-control" id="changeStatus" name="changeStatus">
                    <option value="" disabled selected>Select Status</option>
                    <option value="OPEN">OPEN</option>
                    <option value="CANCELLED">CANCELLED</option>
                    <option value="CLOSED">CLOSED</option>
                </select>
                <input type="hidden" id="jobId" name="jobId">
            </div>
            <div style="text-align:right">
                <button type="button" class="btn saveStatus">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->

  <div class="modal fade" id="changeStatusModal" style="z-index: 222222;">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Why You Want To Cancle</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <form id="changeStatusForm" onsubmit="return false;">
            <div class="form-group">
                  <div class="custom-control custom-radio custom-control">
                      <input type="radio" value="I have postponed" class="custom-control-input" id="status3" name="status">
                      <label class="custom-control-label" for="status3">I have postponed</label>
                  </div>
                  <hr style="margin:12px 0px">
                  <div class="custom-control custom-radio custom-control">
                      <input type="radio" value="I did not received calls from your tutor" class="custom-control-input" id="status4" name="status">
                      <label class="custom-control-label" for="status4">I did not received calls from your tutor</label>
                  </div>
                  <hr style="margin:12px 0px">
                  <div class="custom-control custom-radio custom-control">
                      <input type="radio" value="I am not happy with the quotes I received" class="custom-control-input" id="status5" name="status">
                      <label class="custom-control-label" for="status5">I am not happy with the quotes I received</label>
                  </div>
                  <hr style="margin:12px 0px">
                  <div class="custom-control custom-radio custom-control">
                      <input type="radio" value="I Don't need any more (Cancle)" class="custom-control-input" id="status6" name="status">
                      <label class="custom-control-label" for="status6">I Don't need any more (Cancle)</label>
                  </div>
                  <hr>
                  <div class="custom-control custom-radio custom-control">
                      <input type="radio" value="I have hire from out side HANSA TUTOR" class="custom-control-input" id="status7" name="status">
                      <label class="custom-control-label" for="status7">I have hire from out side HANSA TUTOR</label>
                  </div>
                  <hr style="margin:12px 0px">
                  <div class="custom-control custom-radio custom-control">
                      <input type="radio" value="Other" class="custom-control-input" id="status8" name="status">
                      <label class="custom-control-label" for="status8">Other</label>
                  </div>
                  <hr style="margin:12px 0px">
                <input type="hidden" id="jobId" name="jobId">
            </div>
            <div class="form-group">
                <textarea placeholder="Write a reason for cancle *" class="form-control" name="statusRemark" id="statusRemark" rows="2" hidden></textarea>
            </div>
            <div style="text-align:center">
                <button type="button" class="btn saveStatus">Submit Status</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

