
<app-tutor-menu></app-tutor-menu>
<div style="margin-top: 10px;padding:10px">
  <div class="accordion_container">
    <div class="accordion_head">Classes And Subjects<span class="plusminus">-</span></div>
    <div class="accordion_body">
       <table class="table table-bordered" id="classTable">
            
       </table>
       <div class="addMore_1">
          <div class="row formDiv_1" style="margin-bottom: 10px !important;">
              <div class="col-md-5">
                  <select class="selectpicker form-control chooseClass" id="class_1" name="class_1">
                      
                  </select>
              </div>
              <div class="col-md-6">
                  <select class="selectpicker form-control chooseSubject" title="Select subjects according to class" multiple>
                      
                  </select>
              </div>
              <div class="col-md-1"><span class="addMoreClass addBtn">+</span></div>
            </div>
       </div>
       <div style="text-align:right;padding: 25px 40px 0px;">
         <button type="button" id="saveClass" class="btn btn-primary" style="width: 120px;">save</button>
       </div>
    </div>
    <div class="accordion_head">Educational Qualification<span class="plusminus">+</span></div>
    <div class="accordion_body" style="display: none;">
        <!-- <div class="addMore_2">
            <div class="row formDiv_2" style="margin-bottom: 10px !important;">
                <div class="col-md-3">
                    <input type="text" class="form-control degree" placeholder="Degree">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control board" placeholder="Board/Unversity">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control institute" placeholder="Institute Name">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control passingYear" placeholder="Year">
                </div>
                <input type="hidden" class="educationId" value="">
                <div class="col-md-1"><span class="addMoreQualification addBtn">+</span></div>
              </div>
         </div> -->
         <div class="table-responsive">
         <table class="table table-bordered education-table" style="min-width:700px">
            <tr>
                <th>PASSING</th>
                <th>EXAM/STREAM</th>
                <th>NAME PASSING BOARD/<br>UNIVERSITY</th>
                <th>PASSING STATE</th>
                <th>PASSING YEAR</th>
                <th>MODE OF STUDY</th>
                <th>MARKS OBTENED (%)</th>
                <th>TYPE OF SCHOOL/<br>COLLAGE</th>
            </tr>
            <tr id="intermidiate">
                <th>CLASS XII / 10+2</th>
                <td>
                    <select class="form-control examStream">
                        <option value="" selected disabled>select</option>
                        <option value="SCIENCE">SCIENCE</option>
                        <option value="COMMERCE">COMMERCE</option>
                        <option value="HUMINITY/ART">HUMINITY/ART</option>
                    </select>
                </td>
                <td>
                    <select class="form-control board">
                        <option value="" selected disabled>select</option>
                        <option value="CBSE">CBSE</option>
                        <option value="IB">IB</option>
                        <option value="ISC">ISC</option>
                        <option value="STATE BOARD">STATE BOARD</option>
                        <option value="OPEN SCHOOL">OPEN SCHOOL</option>
                        <option value="OTHER">OTHER</option>
                    </select>
                </td>
                <td>
                    <select class="form-control states" data-size="3" data-live-search="true">

                    </select>
                </td>
                <td><input class="form-control passingYear" type="number"></td>
                <td>
                    <select class="form-control modeOfStudy">
                        <option value="" selected disabled>select</option>
                        <option value="REGULAR">REGULAR</option>
                        <option value="CORRESPODENCE">CORRESPODENCE</option>
                    </select>
                </td>
                <td><input class="form-control markObtained" type="number"></td>
                <td>
                    <select class="form-control schoolType">
                        <option value="" selected disabled>select</option>
                        <option value="GOVT">GOVT</option>
                        <option value="PRIVATE">PRIVATE</option>
                    </select>
                </td>
                <input type="hidden" class="eduId" value="">
            </tr>
            <tr id="graduation">
                <th>GRADUATION</th>
                <td>
                    <select class="form-control examStream">
                        <option value="" selected disabled>select</option>
                        <option value="SCIENCE">SCIENCE</option>
                        <option value="COMMERCE">COMMERCE</option>
                        <option value="HUMINITY/ART">HUMINITY/ART</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control board">
                </td>
                <td>
                    <select class="form-control states" data-size="3" data-live-search="true">

                    </select>
                </td>
                <td><input class="form-control passingYear" type="number"></td>
                <td>
                    <select class="form-control modeOfStudy">
                        <option value="" selected disabled>select</option>
                        <option value="REGULAR">REGULAR</option>
                        <option value="CORRESPODENCE">CORRESPODENCE</option>
                    </select>
                </td>
                <td><input class="form-control markObtained" type="number"></td>
                <td>
                    <select class="form-control schoolType">
                        <option value="" selected disabled>select</option>
                        <option value="GOVT">GOVT</option>
                        <option value="PRIVATE">PRIVATE</option>
                    </select>
                </td>
                <input type="hidden" class="eduId" value="">
            </tr>
            <tr id="master">
                <th>MASTER</th>
                <td>
                    <select class="form-control examStream">
                        <option value="" selected disabled>select</option>
                        <option value="SCIENCE">SCIENCE</option>
                        <option value="COMMERCE">COMMERCE</option>
                        <option value="HUMINITY/ART">HUMINITY/ART</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control board">
                </td>
                <td>
                    <select class="form-control states" data-size="3" data-live-search="true">

                    </select>
                </td>
                <td><input class="form-control passingYear" type="number"></td>
                <td>
                    <select class="form-control modeOfStudy">
                        <option value="" selected disabled>select</option>
                        <option value="REGULAR">REGULAR</option>
                        <option value="CORRESPODENCE">CORRESPODENCE</option>
                    </select>
                </td>
                <td><input class="form-control markObtained" type="number"></td>
                <td>
                    <select class="form-control schoolType">
                        <option value="" selected disabled>select</option>
                        <option value="GOVT">GOVT</option>
                        <option value="PRIVATE">PRIVATE</option>
                    </select>
                </td>
                <input type="hidden" class="eduId" value="">
            </tr>
            <tr id="other">
                <th>OTHER ANY DEGREE <br>DIPLOMA/ CERTIFICATE COURSE</th>
                <td>
                    <input type="text" class="form-control examStream">
                </td>
                <td>
                    <input type="text" class="form-control board">
                </td>
                <td>
                    <select class="form-control states" data-size="3" data-live-search="true">

                    </select>
                </td>
                <td><input class="form-control passingYear" type="number"></td>
                <td>
                    <select class="form-control modeOfStudy">
                        <option value="" selected disabled>select</option>
                        <option value="REGULAR">REGULAR</option>
                        <option value="CORRESPODENCE">CORRESPODENCE</option>
                    </select>
                </td>
                <td><input class="form-control markObtained" type="number"></td>
                <td>
                    <select class="form-control schoolType">
                        <option value="" selected disabled>select</option>
                        <option value="GOVT">GOVT</option>
                        <option value="PRIVATE">PRIVATE</option>
                    </select>
                </td>
                <input type="hidden" class="eduId" value="">
            </tr>
        </table>
        </div>
         <div style="text-align:right;padding: 25px 40px 0px;text-align: center;">
           <button type="button" id="saveQualification" class="btn btn-primary" style="width: 300px;">Save Education</button>
         </div>
    </div>
    <div class="accordion_head">Work Locations<span class="plusminus">+</span></div>
    <div class="accordion_body" style="display: none;"> 
        <div><h5 style="padding-left: 15px;">Enter upto 10 area pin codes(Zip code), Where you can work. Each zip code should be 6 digits</h5></div>
        <div class="row">
        <div class="col-md-2 col-xs-4">
            <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 1">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id=""  type="text" class="form-control pinCode" placeholder="Zip Code 2">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id=""  type="text" class="form-control pinCode" placeholder="Zip Code 3">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id=""  type="text" class="form-control pinCode" placeholder="Zip Code 4">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id=""  type="text" class="form-control pinCode" placeholder="Zip Code 5">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 6">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 7">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 8">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 9">
        </div>
        <div class="col-md-2 col-xs-4">
            <input data-id="" type="text" class="form-control pinCode" placeholder="Zip Code 10">
        </div>        
        </div>
        <div style="text-align:right;padding: 20px 15px 0px;">
            <button data-id="" type="button" id="saveZipCode" class="btn btn-primary" style="width: 120px;">save</button>
        </div>
    </div>
  </div>
  
</div><!-- container -->
