
  .accordion_head {
    background-color:#226e81;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 0 0 1px 0;
    padding: 12px;
    font-weight: bold;
  }

  .accordion_body {
    border: 1px solid #226e81;
    position: relative;
    top: -1px;
    padding: 30px 20px;
  }
  
  .plusminus {
    float: right;
    line-height: 20px;
    font-size: 24px;
  }
  .addBtn {
    background: #d4d4d0;
    padding: 5px 10px;
    position: relative;
    top: 4px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.addBtn{
    color: green;
}
.col-md-2.col-xs-4 {
  margin-top: 11px;
}
.education-table th{
  background: #236e81;
  color: white;
  font-size: 12px !important;
  min-width: 150px;
}
.table-mob > tbody > tr > td{
  border: 1px solid #dddddd;
  padding: 0px;
}
.btn-default-radio:hover, 
	.btn-default-radio:focus, 
	.btn-default-radio:active, 
	.btn-default-radio.active{
		background-color: #236e81;
		border-color: #236e81;
    box-shadow: none;
    color: white;
	}
	.btn-default-radio {
	    color: #333;
	    background-color: #e2e2e2;
	    border-color: #e2e2e2;
      padding: 3px 5px;
      border-radius: 0px;
      margin-left: 10px !important;
  }
  .width100px{
    width:100px;
  }
  .education-card {
    text-align: center;
    background: #246e81;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    height: 100px;
    margin-bottom: 20px;
}