/* USER PROFILE PAGE */
.card {
    padding: 20px;
    background-color: rgba(214, 224, 226, 0.2);
}
.card.hovercard {
    text-align: center;
    margin-top: 20px;
    border-radius: 5px 5px 0px 0px;
}
.card.hovercard .card-info .card-title {
    margin-top: 10px;
    font-size: 24px;
    display: block;
    margin-bottom: 0px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: #226e81;
}
.card.hovercard .card-info {
    font-size: 12px;
    color: #737373;
}
.useravatarProfile img {
    width: 130px;
    background: #ececec;
    border-radius: 50%;
}

