<app-student-menu></app-student-menu>
<div class="col-md-6 offset-md-3" id="profileData" >
    <!-- <div class="card hovercard">
    <div class="slidable">
        <div class="useravatarProfile">
            <img alt="" src="/assets/userIcon.png">
        </div>
        <div class="card-info"> 
            <span class="card-title" id="name"></span>
        </div>
    </div>
    </div> -->
    <!-- Nav pills -->
    <!-- <ul class="nav nav-pills nav-justified profileNav">
    <li class="nav-item">
        <a class="nav-link active" data-value="Basic" href="#home" role="tab" data-toggle="tab">
            <i class="fa fa-address-card" aria-hidden="true" style="margin-right:5px"></i> Basic Details
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-value="Appointment" href="#menu1" role="tab" data-toggle="tab">
            <i class="fa fa-handshake-o" aria-hidden="true" style="margin-right:5px"></i> Appointments
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-value="Find" href="#menu2" role="tab" data-toggle="tab">
            <i class="fa fa-map-marker" aria-hidden="true" style="margin-right:5px"></i> Find <span id="find"></span>
        </a>
    </li>
    </ul> -->

  <!-- Tab panes -->
  <!-- <div class="tab-content">
    <div id="home" class="container tab-pane active"><br> -->
      <br>
      <div class="heading1">Personal Details</div>
      <table class="table table-bordered">
          <tr>
            <td style="width:50%"><b>Mobile :</b> <span id="mobile"></span></td>
            <td><b>WhatsApp Number :</b> <span id="whatsappNumber"></span></td>
          </tr>
          <tr>
            <td><b>Email :</b> <span id="email"></span></td>
            <td><b>Gender :</b> <span id="gender"></span></td>
          </tr>
          <tr>
            <td colspan="2"><b>Location :</b> <span id="location"></span></td>
          </tr>
      </table>
      <br>
      <div class="heading1">Prefrences</div>
      <table class="table table-bordered">
          <tr>
            <td style="width:50%"><b>Prefer Gender :</b> <span id="preferGender"></span></td>
            <td><b>Prefer Timing :</b> <span id="preferTiming"></span></td>
          </tr>
          <tr>
            <td><b>Prefer Day :</b> <span id="preferDay"></span></td>
            <td><b>Prefer Fee :</b> <span id="preferFee"></span></td>
          </tr>
          <tr>
            <td><b>Performance :</b> <span id="performance"></span></td>
            <td><b>Reason For Query :</b> <span id="reasonForQuery"></span></td>
          </tr>
          <tr>
            <td colspan="2"><b>Anything Else :</b> <span id="anythingElse"></span></td>
          </tr>
    </table>
    <br>
    <div class="heading1">Looking For</div>
      <table class="table table-bordered">
        <tr>
          <th>Category</th>
          <th>Class</th>
          <th>Subject</th>
        </tr>
        <tr>
          <td class="category"></td>
          <td class="class"></td>
          <td class="subject"></td>
        </tr>
      </table>
    <!-- </div>
     <div id="menu1" class="container tab-pane fade"><br>
      <p>All Appointments will display here.</p>
    </div> -->
    <!-- <div id="menu2" class="container tab-pane fade row"><br>
     
    </div> 
  </div> -->

</div>
          
  
