<div class="col-lg-12">
    <div class="card hovercard">
    <div class="slidable">
        <div class="useravatar">
            <img alt="" src="/assets/userIcon.png">
        </div>
        <div class="card-info"> 
            <span class="card-title" id="name"></span>
        </div>
    </div>
    </div>
    <!-- Nav pills -->
    <ul class="nav nav-pills nav-justified profileNav">
    <li class="nav-item">
        <a class="nav-link active" data-value="Basic" href="#home" role="tab" data-toggle="tab">
            <i class="fa fa-address-card" aria-hidden="true" style="margin-right:5px"></i> Basic Details
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-value="Appointment" href="#menu1" role="tab" data-toggle="tab">
            <i class="fa fa-handshake-o" aria-hidden="true" style="margin-right:5px"></i> Appointments
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-value="Find" href="#menu2" role="tab" data-toggle="tab">
            <i class="fa fa-map-marker" aria-hidden="true" style="margin-right:5px"></i> Find <span id="find"></span>
        </a>
    </li>
    </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <table class="table table-bordered">
          <tr>
            <td style="width:50%"><b>Mobile :</b> <span id="mobile"></span></td>
            <td><b>Email :</b> <span id="email"></span></td>
          </tr>
          <tr>
            <td><b>Age :</b> <span id="age"></span></td>
            <td><b>Gender :</b> <span id="gender"></span></td>
          </tr>
          <tr>
            <td><b>Location :</b> <span id="location"></span></td>
            <td></td>
          </tr>
      </table>
      <br>
      <div class="heading1">Looking For</div>
      <table class="table table-bordered">
        <tr>
          <th>Category</th>
          <th>Class</th>
          <th>Subject</th>
        </tr>
        <tr>
          <td class="category"></td>
          <td class="class"></td>
          <td class="subject"></td>
        </tr>
      </table>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
      <p>All Appointments will display here.</p>
    </div>
    <div id="menu2" class="container tab-pane fade row"><br>
      <div class="col-md-6 mx-md-auto">
      <form role="form" class="registration-form" action="javascript:void(0);">
          <div class="fieldset">
              <div class="form-top">
                  <div class="form-top-left">
                      <div><i class="fa fa-hand-o-right" aria-hidden="true"></i> Tell us your requirement. We will help you to find the best.</div>
                  </div>
              </div>
              <div class="form-bottom">
                  <div class="form-group">
                      <select class="form-control" id="classGroup" name="classGroup" required>
                          <option value="" disabled>Select a category</option>
                          <option value="prep_and_kg">Prep and KG</option>
                          <option value="1to5">1st to 5th</option>
                          <option value="6to8">6th to 8th</option>
                          <option value="9to10">9th to 10th</option>
                          <option value="11to12">11th to 12th</option>
                          <option value="graduation">Graduation</option>
                          <option value="competetive">Competetive</option>
                          <option value="passion">Passion</option>
                      </select>
                  </div>
                  <div class="form-group" id="chooseClassDiv" hidden>
                          <select class="form-control" id="chooseClass" name="chooseClass">
                              <option value="" disabled>Choose Your Class</option>
                          
                          </select>
                  </div>    
                  <div class="form-group" id="chooseSubjectDiv" hidden>
                      <select class="form-control" id="chooseSubject" name="chooseSubject">
                          
                      </select>
                  </div>
                  <div style="text-align:right">
                      <button type="button" class="btn btn-next">Next</button>
                  </div>
              </div>
          </div>
          <div  class="fieldset">
              <div class="form-top">
                  <div class="form-top-left">
                      <div><i class="fa fa-hand-o-right" aria-hidden="true"></i> Need some personal detail to show your perfect match</div>
                  </div>
              </div>
              <div class="form-bottom">
                  <div class="form-group">
                      <select class="form-control" id="prefferedGender" name="prefferedGender" required>
                          <option value="" disabled>Preffered Tutor</option>
                          <option value="MALE">Male</option>
                          <option value="FEMALE">Female</option>
                          <option value="ANY">Any</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <input type="text" placeholder="Enter Your Locality"  name="locality" class="form-control" id="locality">
                  </div>
                  <div class="form-group">
                      <input type="text" placeholder="Enter Your City"  name="city" class="form-control" id="city">
                  </div>
                  <button type="button" class="btn btn-previous">Previous</button>
                  <button type="button" id="submit" class="btn" style="float: right;">Submit</button>
              </div>
          </div>
      </form>
    </div>
    </div>
  </div>

</div>
          
  
