
<app-tutor-menu></app-tutor-menu>
<div class="registrationDiv">
  <div class="thanks-para">Thanks for your request. We have notified nearby students about your requirement. You will get response within 24 hours.</div>
</div>

<div class="allNavElements" id="dashboardView">
  <div class="section-two" style="padding: 25px;">
    <div class="heading1">Job Applied By You</div>
    <div class="table-responsive" id="appliedJobs">
      
    </div>
    <div id="pagination2">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            
          </ul>
        </nav>
      </div>
  </div>
</div>

<div class="allNavElements" id="editProfileView">
  <div>Under Developement</div>
</div>

<div class="allNavElements" id="nearbyStudentsView">
  <app-nearby-studends></app-nearby-studends>
</div>

