<div id="mySidenav" class="sidenav">
    <div class="useravatar">
      <img alt="" src="/assets/userIcon.png">
    </div>
    <span href="javascript:void(0)" id="closeSideNav" class="closebtn">&times;</span>
    <a class="active" href="javascript:void(0)" id="dashboard">Dashboard</a>
    <a href="javascript:void(0)" id="profile">View Profile</a>
    <a href="javascript:void(0)" id="editProfile">Edit Profile</a>
    <a href="javascript:void(0)" id="findJobs">Find Job</a>
    <a href="javascript:void(0)" id="nearbyStudents">Nearby Students</a>
    <a href="javascript:void(0)" id="updateStatus">Update Status</a>
</div>
<div id="openSideNav">&#9776;<span id="viewTabName">Tutor Dashboard</span></div>

<div class="registrationDiv">
  <div class="thanks-para">Thanks for your request. We have notified nearby students about your requirement. You will get response within 24 hours.</div>
</div>


<div class="allNavElements" id="dashboardView">
  <div></div>
</div>

<div class="allNavElements" id="profileView">
  <app-tutor-profile></app-tutor-profile>
</div>

<div class="allNavElements" id="editProfileView">
  <div>Under Developement</div>
</div>

<div class="allNavElements" id="nearbyStudentsView">
  <app-nearby-studends></app-nearby-studends>
</div>

<div class="allNavElements" id="findJobsView">
    <app-find-jobs></app-find-jobs>
</div>

<div class="allNavElements" id="updateStatusView">
  <div>Under Developement</div>
</div>

