
<app-menu></app-menu>
<div class="registrationDiv">
  <div class="thanks-para">Thanks for your request. We have notified nearby students about your requirement. You will get response within 24 hours.</div>
</div>

<div class="allNavElements" id="dashboardView">
  <div class="section-two" style="padding: 25px;">
    <div class="heading1">Job Applied By You</div>
    <div class="table-responsive" id="appliedJobs">
      
    </div>
    <div id="pagination2">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            
          </ul>
        </nav>
      </div>
  </div>
</div>
<!-- change status Modal -->
<div class="modal fade" id="changeStatusModal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <form id="changeStatusForm" onsubmit="return false;">
            <div class="form-group">
                <select class="form-control" id="changeStatus" name="changeStatus">
                    <option value="" disabled selected>Select Status</option>
                    <option value="APPLIED">APPLIED</option>
                    <option value="DEMO_SCHEDULED">DEMO_SCHEDULED</option>
                    <option value="DEMO_COMPLETED">DEMO_COMPLETED</option>
                    <option value="REJECTED">REJECTED</option>
                    <option value="CLOSED">CLOSED</option>
                    <option value="CANCELLED">CANCELLED</option>
                </select>
                <input type="hidden" id="jobId" name="jobId">
            </div>
            <div style="text-align:right">
                <button type="button" class="btn saveStatus">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="allNavElements" id="nearbyStudentsView">
  <app-nearby-studends></app-nearby-studends>
</div>

