<div id="wrapper" style="margin-top:150px">
  <div id="dialog">
    <div style="font-weight: bold;
    font-size: 18px;">Please Enter the OTP received on Your <br> Mobile Number : <span id="mobile"></span></div>
    <span>(we want to make sure it's you)</span>
    <div id="form">
      <input type="tel" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
      <input type="tel" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
      <input type="tel" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
      <input type="tel" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
      <div>
        <div id="resultMsg"></div>
        <br>
        <button class="btn btn-register" id="submitOtp">Submit</button>
      </div>
    </div>
    <br>
    <div>
      <p>Didn't receive the OTP?</p>
      <p id="waitingPara"><b>Wait till 1 minute !!</b></p>
      <div id="countdown">
        <div id="countdown-number">60</div>
        <svg>
          <circle r="20" cx="25" cy="25"></circle>
        </svg>
      </div>
      <div id="resend" hidden><a title="hansa tutor" href="javascript:void(0)" style="font-weight: bold;color: #e66506;border-bottom: 2px solid;" id="resendOtp">Send Again</a><br /></div>
      <div style="color: #047b04;" id="sentAgain" hidden>OPT sent successfully !!</div>
    </div>
  </div>
</div>
