/* You can add global styles to this file, and also import other style files */
.text-centered {
    text-align: center;
}
.navbar{
    padding: 0px 20px !important;
}
ul.navbar-nav {
    background: #ff9900;
    padding: 5px;
}
a.navbar-brand {
    color: #212529;
    font-weight: bold;
}
a.nav-link,a.nav-link:hover,a.nav-link:focus {
    color: white;
    font-weight: bold;
}
.navbar-expand .navbar-nav .dropdown-menu{
    left: auto;
    right: -5px;
    min-width: 110px !important;
    background: #f79932 !important;
    padding: 0;
    border-bottom: 0;
    border-radius: 0px;
}
.navbar-expand .navbar-nav .dropdown-menu a.dropdown-item {
    border-bottom: 1px solid #ccc;
    padding: 8px !important;
    color: white;
    font-weight: bold;
}
.navbar-expand .navbar-nav .dropdown-menu a.dropdown-item:hover,.navbar-expand .navbar-nav .dropdown-menu a.dropdown-item:active,.navbar-expand .navbar-nav .dropdown-menu a.dropdown-item:focus {
    background-color: #f79932 !important;
    opacity: 0.7;
}
a,a:hover,a:active,a:focus{
    text-decoration: none !important;
}
.container-fluid,.row{
    margin: 0 !important;
    padding: 0 !important;
}
.btn-location{
    min-width: 50px !important;
    border: 1px solid #ddd !important;
    font-size: 22px !important;
    line-height: 10px !important;
    padding: 5px !important;
    text-align: center !important;
    height: 40px !important;
}
.form-control[readonly] {
    background-color: #f8f8f8 !important;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select.form-control {
    height: 40px;
    margin: 0;
    padding: 0 15px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 2px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #232323;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

input[type="file"] {
    height: 35px;
    margin: 0;
    padding: 0 15px;
    vertical-align: bottom;
    background: #f8f8f8;
    border: 2px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #232323;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

input[type=radio] {
    margin-top: 8px !important;
}

textarea,
textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
    outline: 0;
    background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder,
textarea.form-control:-moz-placeholder {
    color: #888;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
    color: #888;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
    color: #888;
}
.custom-control.custom-checkbox {
    margin-bottom: 3px;
}
.custom-control-label::after {
    background-size: 75% 75% !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #058472 !important;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 2px !important;
}
.custom-control-label::before {
    top: 2px !important;
    left: -25px !important;
    display: block !important;
    width: 20px !important;
    height: 20px !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
}
label.custom-control-label {
    color: #3a3a3a;
    font-size: 15px;
    font-weight: normal;
}
label {
    font-weight: bold;
    color: #2f2f2f;
}
.form-group {
    margin-bottom: 12px !important;
}


button.btn {
    height: 45px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #058472;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 45px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

button.btn:hover {
    opacity: 0.6;
    color: #fff;
}

button.btn:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.btn:focus {
    outline: 0;
    opacity: 0.6;
    background: #058472;
    color: #fff;
}

button.btn:active:focus,
button.btn.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #058472;
    color: #fff;
}


/*style.css**/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong {
    font-weight: 500;
}

a,
a:hover,
a:focus {
    color: #058472;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1,
h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

::-moz-selection {
    background: #058472;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #058472;
    color: #fff;
    text-shadow: none;
}

.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 16px 20px 0 20px;
    background: #058472;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btn-link-1:hover,
.btn-link-1:focus,
.btn-link-1:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
}

.btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 15px 20px 0 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btn-link-2:hover,
.btn-link-2:focus,
.btn-link-2:active,
.btn-link-2:active:focus {
    outline: 0;
    opacity: 0.6;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}


/***** Top content *****/

.form-box {
    padding-top: 40px;
    font-family: 'Roboto', sans-serif !important;
}

.form-top {
    overflow: hidden;
    padding: 20px;
    background: #058472;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
    color: #fff;
    transition: opacity .3s ease-in-out;
    font-weight: bold;
    font-style: oblique;
}

.form-top h3 {
    color: #fff;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
    transition: all .4s ease-in-out;
}

.form-bottom:hover {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

form .form-bottom button.btn {
    min-width: 105px;
}

form .form-bottom .input-error {
    border-color: #d03e3e;
}
.tutorgrid {
    margin: 10px;
    padding: 15px;
    border: 1px solid #dbe3d9;
    background: #fcfff5;
    box-shadow: 0px 0px 6px 0px #ccc;
}
.tutorgrid img {
    width: 75px;
    border-radius: 50%;
    border: 2px solid #568dad;
}
.btn-details {
    height: 30px !important;
    line-height: 14px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    background-color: #226e81 !important;
    border: none !important;
    padding: 8px !important;
    position: relative;
    bottom: -10px;
    width: 100%;
    border-radius: 2px !important;
}
.btn-details:hover,.btn-details:active,.btn-details:focus {
    opacity: 0.7;
}
.profile-name {
    font-style: italic;
    line-height: 30px;
    text-decoration: underline #f76932;
}
.profile-heading {
    font-weight: bold;
    font-size: 18px;
}
.experiance {
    padding-bottom: 5px;
    line-height: 20px;
}
.heading1 {
    font-size: 21px;
    border-bottom: 3px solid #f26832;
    margin-bottom: 15px;
    color: #7b7776;
    font-weight: bold;
}
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
  }
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  .select-selected {
    background-color: DodgerBlue;
  }
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .pagination {
    justify-content: center;
  }
  .nav-justified .nav-link {
    color: #096e7a !important;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    background: #ccc;
  }
  .nav-justified .nav-link.active {
    background: #096e81 !important;
    color: white !important;
    border-color: #096e81 !important;
  }
  .tab-content .tab-pane{
      max-width: 100%;
  }
  .job-detail-sort {
    font-size:15px;
  }
  .job-detail-sort .fa {
      color: #f76932;
      margin-right: 5px;
  }
  #snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #444;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    border-radius: 2px;
    padding: 15px;
    position: fixed;
    z-index: 9;
    bottom: 0;
    font-size: 18px;
    left: 50%;
    transform: translate(-50%, -50%);
}
button.btn.btn-xs {
    padding: 2px 10px;
    line-height: 22px;
    height: 25px;
    font-size: 13px;
}

#snackbar.show {
    visibility: visible;
}
button.btn.dropdown-toggle {
    background: #f8f8f8;
    border: 2px solid #ccc;
    color: #232323;
    height: 40px;
    line-height: 40px;
}
.dropdown-item.active, .dropdown-item:active {
    color: black !important;
    background-color: #f8f8f8 !important;
}
.bootstrap-select .btn:focus {
    outline: none !important;
}
.note-para {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #378472;
}