/* USER PROFILE PAGE */
.card {
    padding: 20px;
    background-color: rgba(214, 224, 226, 0.2);
}
.card.hovercard {
    text-align: center;
    margin-top: 20px;
    border-radius: 5px 5px 0px 0px;
}
.card.hovercard .card-info .card-title {
    margin-top: 10px;
    font-size: 24px;
    display: block;
    margin-bottom: 0px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: #226e81;
}
.card.hovercard .card-info {
    font-size: 12px;
    color: #737373;
}
form.registration-form .fieldset {
    display: none;
}
.total-credit {
    position: absolute;
    font-size: 20px;
    text-decoration: underline;
    color: #226e81;
    right: 20px;
    font-style: italic;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #ccc;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #3c3d3e;
    display: block;
}

.sidenav a:hover,.sidenav a:active,.sidenav a:focus {
    color: #ffffff;
    background: #226e81;
}

.sidenav .closebtn:hover,.sidenav .closebtn:active,.sidenav .closebtn:focus {
    color: #3c3d3e;
    background: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#openSideNav{
    font-size: 30px;
    cursor: pointer;
    margin-top: 50px;
    background: #313131;
    color: white;
    padding: 0px 20px;
}
.useravatarProfile img {
    width: 130px;
    background: #ececec;
    border-radius: 50%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
