
<app-menu></app-menu>
<div class="col-lg-12" style="max-width: 1060px;margin: 0 auto;border: 1px solid #061f50;border-top-color: white;">
    <div class="card hovercard">
      <div class="total-credit"> </div>
      <div class="slidable">
        <div class="useravatarProfile">
            <img class="profilePic" alt="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" src="" onerror="this.src='/assets/userIcon.png'">
            <div class="form-group" style="margin-bottom: -35px !important;position: relative;top: -30px;left: 50px;overflow: hidden;">
                <label for="uploadProfilePic" id="uploadProfilePicBtn" data-role="button" class="btn btn-danger btn-xs" class="white-color" data-corners="true" style="cursor:pointer;">
                  <i style="font-size: 18px;background: #f26832;padding: 8px;border-radius: 50%;" class="fa fa-camera" aria-hidden="true"></i>
                </label>
                <input id="uploadProfilePic" type="file" name="uploadFile"  data-role="button" data-corners="true" style="opacity: 0;width:0px; height:0px;display:none;" accept="image/x-png,image/gif,image/jpeg"/>
            </div>
        </div>
        <div class="card-info"> 
            <span class="card-title" id="name"></span>
            <div class="sequence"> </div>
        </div>
      </div>
    </div>
    <!-- Nav pills -->
    <!-- <ul class="nav nav-pills nav-justified profileNav">
      <li class="nav-item">
        <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" class="nav-link active" data-value="Basic" href="#home" role="tab" data-toggle="tab">
            <i class="fa fa-address-card" aria-hidden="true" style="margin-right:5px"></i> Basic Details
        </a>
      </li>
      <li class="nav-item">
        <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" class="nav-link" data-value="Appointment" href="#menu1" role="tab" data-toggle="tab">
            <i class="fa fa-handshake-o" aria-hidden="true" style="margin-right:5px"></i> Appointments
        </a>
      </li>
      <li class="nav-item">
        <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" class="nav-link" data-value="Find" href="#menu2" role="tab" data-toggle="tab">
            <i class="fa fa-map-marker" aria-hidden="true" style="margin-right:5px"></i> Find <span id="find"></span>
        </a>
      </li>
    </ul> -->
  
    <!-- Tab panes -->
    <!-- <div class="tab-content">
      <div id="home" class="container tab-pane active"><br>
        
      </div>
      <div id="menu1" class="container tab-pane fade"><br>
        <p>All Appointments will display here.</p>
      </div>
      <div id="menu2" class="container tab-pane fade row"><br>
        <div class="section-two" style="padding: 25px;">
          <div class="row" id="tutorGrid">
            
          </div>
        </div>
        <div id="pagination">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              
            </ul>
          </nav>
        </div>
      </div>
    </div> -->
    <br>
    <div class="heading1">Personal Details </div>
    <div class="row">
        <div class="col-md-6 col-xs-12" style="padding:0">
          <table class="table table-bordered" style="margin-bottom:0">
            <tr>
              <td style="width:40%">Mobile </td>
              <td><b> <span id="mobile"></span></b></td>
            </tr>
            <tr>
              <td>WhatsApp </td>
              <td><b> <span id="whatsappNumber"></span></b></td>
            </tr>
            <tr>
              <td>Email </td>
              <td style="word-break: break-all;"><b> <span id="email"></span></b></td>
            </tr>
            <tr>
              <td>Gender </td>
              <td><b> <span id="gender" style="text-transform: capitalize;"></span></b></td>
            </tr>
            <tr>
              <td>Age </td>
              <td><b> <span id="age"></span></b></td>
            </tr>
            <tr>
                <td>Location </td>
                <td><b> <span id="location"></span></b></td>
            </tr>
        </table>
        </div>
        <div class="col-md-6 col-xs-12" style="padding:0">
          <table class="table table-bordered">
            <tr>
                <td style="width:40%">Highest Qualification </td>
                <td><b> <span class="qualification"></span></b></td>
            </tr>
            <tr>
                <td>Job Type </td>
                <td><b> <span id="jobType" style="text-transform: capitalize;"></span></b></td>
            </tr>
            <tr>
              <td>Teaching Experience </td>
              <td><b> <span id="experience"></span> Years</b></td>
            </tr>
            <tr>
                <td>Mode Of Teaching </td>
                <td><b> <span id="tutorType"></span></b></td>
            </tr>
            <tr>
                <td>Fluency In English </td>
                <td><b> <span id="fluencyInEnglish" style="text-transform: capitalize;"></span></b></td>
            </tr>
            <tr>
                <td colspan="2"> &nbsp; </td>
            </tr>
        </table>
        </div>
    </div>
    <br>
    <div class="heading1">Classes And Subjects <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="#" id="classesEdit" class="edit-profile-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
    <table id="classesAndSubjectTable" class="table table-bordered">
      <tr>
        <th>Classes</th>
        <th>Subjects</th>
      </tr>
    </table>
    <br>
    <div class="heading1">Educational Details <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="#" id="educationEdit" class="edit-profile-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
    <div style="padding: 10px 0px;">Highest Qualification : <b><span class="qualification"></span></b></div>
    <div class="row" id="educationalTable" class="table-responsive"></div>
    <br>
    <div class="heading1">Preferred Locations <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="#" id="worklocationEdit" class="edit-profile-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
    <div class="table-responsive">
      <table id="zipCodeTable" class="table table-bordered">
  
      </table>
    </div>
    <br>
    <div class="heading1">Work Experience <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="#" id="experienceEdit" class="edit-profile-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
    <div class="table-responsive">
      <table id="experienceTable" class="table table-padding-10 table-bordered">
  
      </table>
    </div>
    <br>
    <div class="heading1">Address <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="#" id="addressEdit" class="edit-profile-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
    <div class="table-responsive">
      <table id="addreesTable" class="table table-bordered">
  
      </table>
    </div>
    <br>
    <div class="heading1">Guarantor <a rel="nofollow" title="Tutoring Services - Personal Home Tuition Tutor Online Teacher Trainer Group Classes Coaching Centre Institutes | hansa tutor" href="#" id="guarantorEdit" class="edit-profile-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
    <div class="table-responsive">
      <table id="guarantorTable" class="table table-bordered">
  
      </table>
    </div>
  </div>
            
    
  