.overlay{
    min-height: 100vh;
    background-image: radial-gradient(#bdcbe6, #e9e9f5);
}
form.registration-form .fieldset {
    display: none;
}
.custom-control.custom-checkbox {
    margin-bottom: 15px !important;
}
#dob::before {
	color: #999999;
	content: attr(placeholder);
}
#dob {
	color: #424242;
}
#dob:focus,
#dob:valid {
	color: #666666;
}
#dob:focus::before,
#dob:valid::before {
	content: "" !important;
}
.privacyPolicyPara{
    font-size: 14px;
}
p.privacyPolicyPara br {
    display: none;
}
@media screen and (max-width: 450px) {
    p.privacyPolicyPara br {
        display: block;
    }
}