<div class="container-fluid requirement-section">
    <div class="row overlay">
        <div class="col-md-6 offset-md-3" style="margin-top: 100px;">
            <form role="form" class="registration-form" action="javascript:void(0);">
                <div class="fieldset">
                    <div class="form-top">
                        <div class="form-top-left">
                            <div class="reg-heading">Join As Teacher/Trainer/Institution</div>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="form-group">
                            <input type="text" placeholder="Enter Your Name"  name="name" class="form-control" id="name" required>
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Enter Your Email"  name="email" class="form-control" id="email" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" placeholder="Mobile Number(only 10 digits)"  name="mobileNumber" class="form-control" id="mobileNumber" maxlength="10" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" placeholder="WhatsApp Number(only 10 digits)"  name="whatsappNumber" class="form-control" id="whatsappNumber" maxlength="10" required>
                        </div>
                        <div style="text-align:center">
                            <button type="button" class="btn btn-next btn-register">START</button>
                        </div>
                    </div>
                </div>
                <div class="fieldset">
                    <div class="form-top">
                        <div class="form-top-left">
                            <div class="reg-heading">SERVICE DETAILS</div>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="form-group">
                            <label style="margin-bottom: 15px;">Mode of Teaching<font color="red">*</font></label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="TUTOR" class="custom-control-input tutorType" id="tutorType1" name="tutorType1">
                                <label class="custom-control-label" for="tutorType1">Home Tutor (Travel at Student Place)</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="FACULTY" class="custom-control-input tutorType" id="tutorType2" name="tutorType2">
                                <label class="custom-control-label" for="tutorType2">Faculty (Looking a Coaching Center where i can teach)</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="COACHING" class="custom-control-input tutorType" id="tutorType3" name="tutorType3">
                                <label class="custom-control-label" for="tutorType3">Run a Coaching Center (Teaching at my Place)</label>
                            </div>
                        </div>
                        <p class="note-para">Note : Select multiple applicable</p>
                        <div style="text-align:center">
                            <button type="button" class="btn btn-next btn-register">NEXT</button>
                        </div>
                    </div>
                </div>
                <div class="fieldset">
                    <div class="form-top">
                        <div class="form-top-left">
                            <div class="reg-heading">CLASSES And SUBJECTS</div>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <label style="margin-bottom: 15px;">Select your Prime CLASSES And SUBJECTS <font color="red">*</font></label>
                        <div class="form-group" style="margin-bottom: 20px !important;">
                            <select class="form-control selectpicker" data-size="5" id="chooseClass" name="chooseClass">
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control selectpicker" data-size="5" id="chooseSubject" title="Select subjects according to class" name="chooseSubject" multiple>
                                
                            </select>
                        </div>
                        <br>
                        <p class="note-para">Note : You can add more later from your dashboard.</p>
                        <div style="text-align:center">
                            <button type="button" class="btn btn-next btn-register">NEXT</button>
                        </div>
                    </div>
                </div>
                <div class="fieldset">
                    <div class="form-top">
                        <div class="form-top-left">
                            <div class="reg-heading">SERVICE LOCATIONS</div>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="form-group">
                            <div class="input-group">
                                <select id="states" class="form-control selectpicker" data-size="3" name="states" data-live-search="true" required>
                                    
                                </select>
                            </div>
                        </div>
                        <div id="cityDiv" class="form-group" hidden>
                            <div class="input-group">
                                <select id="city" class="form-control selectpicker" data-size="3" name="city" data-live-search="true" required>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Enter Your Locality(Ex. Mayur Vihar Phase-3)" id="location" class="form-control" name="location" required>
                            </div>
                        </div>   
                        <div class="form-group">
                            <div class="input-group">
                                <input type="tel" placeholder="Enter Your Pin Code (6 digits)" id="pinCode" class="form-control" name="pinCode" maxlength="6" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control selectpicker" name="qualification" id="qualification">
                                <option value="" disabled selected>Highest Qualification</option>
                                <option value="BA">BA</option>
                                <option value="B.COM">B.COM</option>
                                <option value="B.SC">B.SC</option>
                                <option value="BBA">BBA</option>
                                <option value="B.TECH">B.TECH</option>
                                <option value="MBBS">MBBS</option>
                                <option value="M.COM">M.COM</option>
                                <option value="M.SC">M.SC</option>
                                <option value="MBA">MBA</option>
                                <option value="OTHER">OTHER</option>
                            </select>
                        </div>
                        <div class="form-group" class="otherQualification" style="margin-bottom: 10px;" hidden>
                            <div class="input-group">
                                <input type="text" placeholder="What is your higest qualification" id="otherQualification" class="form-control" name="otherQualification" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input placeholder="Date Of Birth" type="date" id="dob" class="form-control" name="dob" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control selectpicker" id="chooseGender" name="chooseGender">
                                <option value="" disabled>Gender</option>
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control selectpicker" id="jobType" name="jobType">
                                <option value="" disabled>Job Type</option>
                                <option value="PARTTIME">Part Time</option>
                                <option value="FULLTIME">Full Time</option>
                            </select>
                        </div>
                        <div class="form-group" class="partTimeReason" style="margin-bottom: 10px;" hidden>
                            <div class="input-group">
                                <input type="text" placeholder="What are you doing these days" id="partTimeReason" class="form-control" name="partTimeReason" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control selectpicker" id="teachingExperience" name="teachingExperience">
                                <option value="" disabled>Total Teaching Experience</option>
                                <option value="0-2">0 to 2 years</option>
                                <option value="3-5">3 to 5 years</option>
                                <option value="6-10">6 to 10 years</option>
                                <option value="11-15">11 to 15 years</option>
                                <option value="16-20">16 to 20 years</option>
                                <option value="21-30">21 to 30 years</option>
                                <option value="31-40">31 to 40 years</option>
                                <option value="40+">More than 40 years</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control selectpicker" id="fluencyInEnglish" name="fluencyInEnglish">
                                <option value="" disabled>Fluency In English</option>
                                <option value="Good">Good</option>
                                <option value="Excellent">Excellent</option>
                            </select>
                        </div>
                        <div style="text-align:center">
                            <button type="button" id="submit" next-step="false" class="btn btn-next btn-register">JOIN NOW</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="myErrorModal">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body" style="text-align:center;font-weight:bold">
                <br>
                <p>Mobile Number <span id="alreadyExistNumber"></span> already exits. <br>Please Login to continue.</p>
                <a href="/login">
                    <button class="btn">Continue to login</button>
                </a>
                <br><br>
            </div>
            </div>
        </div>
    </div>
     