<div class="container-fluid requirement-section">
    <div class="row overlay">
        <div class="col-md-6 offset-md-3" style="margin-top: 70px;">
            <form role="form" class="registration-form" action="javascript:void(0);">
                <div class="fieldset">
                    <div class="form-top">
                        <div class="form-top-left">
                            <div><i class="fa fa-hand-o-right" aria-hidden="true"></i> Give us your details, we will help you to get students nearby.</div>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="form-group">
                            <input type="text" placeholder="Enter Your Name"  name="name" class="form-control" id="name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Enter Your Mobile Number(only 10 digt)"  name="mobileNumber" class="form-control" id="mobileNumber" maxlength="10" required>
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Enter Your Email"  name="email" class="form-control" id="email" required>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="tutorType" name="tutorType" required>
                                <option value="" disabled>Mode Of Teaching</option>
                                <option value="Home Tutor">Home Tutor</option>
                                <option value="Online Tutor">Online Tutor</option>
                                <option value="Coaching Center">Coaching Center</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Enter Your Pin Code" id="pinCode" class="form-control" name="pinCode" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Locality" id="location" class="form-control" name="location" required readonly>
                            </div>
                        </div>  
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="City" id="city" class="form-control" name="city" required readonly>
                            </div>
                        </div> 
                        <div class="form-group" id="chooseSubjectDiv" hidden>
                            <select class="form-control" id="chooseSubject" name="chooseSubject">
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="chooseGender" name="chooseGender">
                                <option value="" disabled>Gender</option>
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" placeholder="Highest Qualification"  name="qualification" class="form-control" id="qualification">
                            </div>
                        </div>
                        <div style="text-align:right">
                            <button type="button" id="submit" class="btn btn-next">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
     